<div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>Add Approved Member</span><a
                class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="membershipForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <tbody class="details">
                    <tr>
                        <td>First Name</td>
                        <td><input name="firstName" class="form-control" ng-model="m.firstName" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input name="lastName" class="form-control" ng-model="m.lastName" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Middle Name</td>
                        <td><input name="middleName" class="form-control" ng-model="m.middleName" type="text"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input name="email" class="form-control" ng-model="m.mEmail" type="email"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input name="phone" class="form-control" ng-model="m.mPhone" type="telephone"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><textarea name="contact" class="form-control" ng-model="m.contact" type="contact"
                                      ng-required="true" rows="4" cols="10"></textarea></td>
                    </tr>
                    <tr>
                        <td>Registration Number</td>
                        <td><textarea name="contact" class="form-control" ng-model="m.regNumber" type="telephone"
                                      ng-required="true" rows="4" cols="10"></textarea></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <select ng-model="m.category"
                                    ng-options="i for i in categories" class="form-control"
                                    ng-required="true"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date Registered</td>
                        <td>
                            <input ng-disabled="disable" type="text" class="form-control unblock"
                                   datepicker-popup="dd MMM yyyy" ng-model="m.dateRegistered" is-open="startOpen"
                                   ng-required="true" close-text="Close"/>
                            <span class="input-group-btn unblock">
                              <button ng-disabled="disable" type="button" class="btn btn-default"
                                      ng-click="open($event, 'startOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="doCreateMember()" ng-disabled="membershipForm.$invalid"
                                    class="btn btn-default"
                                    ng-bind="savingMembership? 'Sending Membership Request': 'Create New Member'">Create
                                New Member
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
