<form class="col-sm-12" name="newMatterForm">
    <div class="panel panel-default empData">
        <div class="panel-heading"><h2 class="panel-title font16">
            <span ng-bind="'Update Next Hearing Date or Verdict'"> </span>
            <a class="btn btn-link pull-right" ng-click="back()" ng-bind="backText? backText: 'Back'"></a>
        </h2></div>
        <div class="panel-body">
            <div ng-include="'pages/message-alert-modal.html'"></div>
            <table class="table table-bordered table-responsive">
                <tr ng-if="matter._id">
                    <td><span>Serial No.:</span></td>
                    <td><span class="form-control disabled" ng-bind="matter.brNo"></span></td>
                </tr>
                <tr>
                    <td><span>Title:</span></td>
                    <td><span class="form-control disabled" ng-bind="matter.title"></span></td>
                </tr>
                <tr>
                    <td><span>Client:</span></td>
                    <td><span class="form-control disabled" ng-bind="matter.client"></span></td>
                </tr>
                <tr>
                    <td><span>Practice Area:</span></td>
                    <td><span class="form-control disabled"><span ng-bind="matter.practiceArea"></span> <i class="caret pull-right"></i></span></td>
                </tr>
                <tr>
                    <td><span>Matter Lead:</span></td>
                    <td><span class="form-control disabled"><span ng-bind="matter.lead.extras.name"></span> <i class="caret pull-right"></i></span></td>
                </tr>
                <tr>
                    <td><span>Assigned Counsels:</span></td>
                    <td><span ng-repeat="n in matter.members track by $index" style="margin-bottom: 3px;" class="form-control disabled" ng-bind="n.extras.name"></span></td>
                </tr>
                <tr>
                    <td><span>Date Opened:</span></td>
                    <td><span class="form-control disabled" ng-bind="matter.dateOpened|date:'dd MMM yyyy'"></span></td>
                </tr>
                <tr ng-if="matter.lastHearingDate">
                    <td><span ng-bind="((today |date) == (matter.lastHearingDate|date) ? 'Current': 'Last') + ' Hearing Date'"></span></td>
                    <td><span ng-bind="matter.lastHearingDate | date: 'mediumDate'"  class="form-control disabled" ></span></td>
                </tr>
                <tr>
                    <td><span>Next Hearing Date:</span></td>
                    <td>
                        <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy"
                               ng-model="matter.nextHearing" is-open="exend" ng-required="!lastHearingDate"
                               close-text="Close"/>
                        <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'exend')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        <br>
                        <span ng-bind="'Next hearing date must be greater than today'" class="text-danger" ng-hide="!matter.nextHearing || isValidEndDate()"></span>
                    </td>
                </tr>
                <tr ng-show="matter.lastHearingDate">
                    <td><span>Verdict:</span></td>
                    <td><textarea class="form-control" ng-minlength="5" ng-model="matter.verdict" rows="3"></textarea></td>
                </tr>
            </table>
            <div class="form-group">
                <div align="center">
                    <input value="Save Details" ng-disabled="(!matter.verdict || matter.verdict.length < 5) && !matter.nextHearing" class="btn btn-default"
                           type="button" ng-click="updateData()">
                </div>
            </div>
        </div>
    </div>
</form>