<div ng-show="!isDetails">
<form class="col-sm-12" name="newMatterForm">
    <div class="panel panel-default empData">
        <div class="panel-heading"><h2 class="panel-title font16">
            <span ng-bind="matter._id? 'Edit Matter': 'Add Matter'"> </span><a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'"></a></h2></div>
        <div class="panel-body">
            <div ng-include="'pages/message-alert-modal.html'"></div>
            <table class="table table-bordered table-responsive">
                <tr ng-if="matter._id"><td><span>Serial No.:</span></td><td><input disabled class="form-control" ng-model="matter.brNo" type="text" required ng-required="true"/> </td></tr>
                <tr><td><span>Title:</span></td><td><input class="form-control" ng-model="matter.title" ng-disabled="matter._id && !employee.rights.isAdmin" type="text"/></td></tr>
                <tr><td><span>Client:</span></td><td><input class="form-control" ng-model="matter.client" ng-disabled="matter._id && !employee.rights.isAdmin" type="text"/></td></tr>
                <tr><td><span>Practice Area:</span></td><td><select required ng-model="matter.practiceArea" ng-options="i for i in constants.practiceAreas track by i" ng-disabled="matter._id && !employee.rights.isAdmin"class="form-control"></select></td></tr>
                <tr><td><span>Matter Lead:</span></td><td><select required ng-model="matter.lead" ng-disabled="matter._id && !employee.rights.isAdmin" ng-options="i.name for i in employees|orderBy:'name' track by i._id" class="form-control"></select></td></tr>
                <tr><td><span>Assigned Counsels:</span></td><td>
                    <span ng-show="matter._id && !employee.rights.isAdmin" ng-repeat="n in matter.members track by $index" ng-bind-html="n.extras.name + ($last ? '.':', <br>')"></span>
                    <ul ng-hide="matter._id && !employee.rights.isAdmin" class="kra-list" style="height: 250px;" ng-init="matter.members = matter.members||[]">
                        <li ng-repeat="i in employees|orderBy:'name' track by i._id" ng-class="{'selectedSub': matter.members.indexOf(i._id) > -1}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked=" matter.members.indexOf(i._id) > -1 && i._id != matter.lead._id" ng-click="toggleSelection(i)" ng-disabled="i._id == matter.lead._id"><span ng-bind="i.name"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </td></tr>
                <tr><td><span>Date Opened:</span></td><td>
                    <input type="text" class="form-control"ng-class="{'unblock': !matter._id || employee.rights.isAdmin}" datepicker-popup="dd MMM yyyy" ng-disabled="matter._id && !employee.rights.isAdmin" ng-model="matter.dateOpened"  is-open="exstart" ng-required="true" close-text="Close" />
                    <span class="input-group-btn unblock" ng-show="!matter._id || employee.rights.isAdmin">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'exstart')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </td></tr>
                <tr ng-if="matter.lastHearingDate"><td><span ng-bind="((today |date) == (matter.lastHearingDate|date) ? 'Current': 'Last') + ' Hearing Date'"></span></td><td ng-bind="matter.lastHearingDate | date: 'mediumDate'"></td></tr>
                <tr><td><span>Next Hearing Date:</span></td><td>
                    <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="matter.nextHearing" is-open="exend" ng-required="!lastHearingDate" close-text="Close"/>
                    <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'exend')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </td></tr>
                <tr ng-show="matter.lastHearingDate">
                    <td><span>Verdict:</span></td>
                    <td><textarea class="form-control" ng-model="matter.verdict" rows="3"></textarea></td></tr>
            </table>
            <div class="form-group">
                <div align="center">
                    <input value="Save Details" ng-disabled="newMatterForm.$invalid || state" class="btn btn-default" type="button" ng-click="saveData()">
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<div ng-if="isDetails">
    <div class="panel panel-default empData">
        <div class="panel-heading"><h2 class="panel-title font16">
            <span ng-bind="'Matter Details'"> </span><a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'"></a></h2></div>
        <div class="panel-body">
            <table class="table table-bordered table-responsive">
                <tr ng-if="matter._id"><td><span>Serial No.:</span></td><td ng-bind="matter.brNo"></td></tr>
                <tr><td><span>Title:</span></td><td ng-bind="matter.title"></td></tr>
                <tr><td><span>Client:</span></td><td ng-bind="matter.client"></td></tr>
                <tr><td><span>Practice Area:</span></td><td ng-bind="matter.practiceArea"></td></tr>
                <tr><td><span>Matter Lead:</span></td><td ng-bind="matter.lead.extras.name"></td></tr>
                <tr><td><span>Assigned Counsels:</span></td><td>
                    <span ng-repeat="n in matter.members track by $index" ng-bind-html="n.extras.name + ($last ? '.':', <br>')"></span>
                </td></tr>
                <tr><td><span>Date Opened:</span></td><td ng-bind="matter.dateOpened| date: 'dd MMM yyyy'"></td></tr>
                <tr><td><span>Next Hearing Date:</span></td><td ng-bind="matter.nextHearing| date: 'dd MMM yyyy'"></td></tr>
                <tr ng-if="matter.verdict"><td><span>Verdict:</span></td><td ng-bind="matter.verdict"></td></tr>
                <tr ng-if="matter.status"><td><span>Status:</span></td><td ng-bind="matter.status"></td></tr>
                <tr><td><span>Date Created:</span></td><td ng-bind="matter.date| date: 'dd MMM yyyy'"></td></tr>
                <tr ng-if="by"><td><span>Date Created:</span></td><td ng-bind="matter.date| date: 'dd MMM yyyy'"></td></tr>
            </table>
        </div>
    </div>
</div>