<div class="panel panel-default empData">
    <div class="panel-heading"><h3 class="panel-title font16">Closed Matter/Team Report</h3></div>
    <div class="panel-body">
        <details ng-repeat="initiator in reports" ng-if="initiator.matters.length > 0" ng-open="{{initiator.matters.length > 0}}">
            <summary class="kra-area-header"><span ng-bind="initiator.name|uppermatter"></span></summary>
            <table class="table table-bordered">
                <tr>
                    <td width="10px" style="vertical-align: middle; width:15%; text-transform:capitalize" ng-bind="initiator.name"></td>
                    <td width="85%">
                        <table class="table table-striped">
                            <tr ng-repeat="matter in initiator.matters|orderBy:'date':true">
                                <td style="width:10px" ng-bind="$index + 1"></td>
                                <td ng-bind="matter.title"></td>
                                <td ng-bind="matter.location"></td>
                                <td><span ng-repeat="n in getNamesFromColAsCol([matter.initiator],matter.members) track by $index" ng-class="{'text-grey' : getName(employee) == n._id}" ng-bind="n + ($last ? '.':', ')"></span></td>
                                <td ng-bind="matter.date|date:'shortDate'"></td>
                                <td ng-bind="matter.closeDate|date:'shortDate'"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </details>
        <div class="text-center" ng-if="!reports">
            <span><img style="width: 50px; vertical-align: -webkit-baseline-middle;" src="../images/Floating rays.gif" alt="loading data" /></span>
        </div>
    </div>
</div>