<div class="panel panel-default" ng-init="view = employee.rights.isAdmin || employee.rights.isIT || employee.delegation.canMatter;">
    <div class="panel-heading"><h2 class="panel-title font16">Matter List</h2></div>
    <div class="panel-heading" ng-if="employee.rights.isAdmin || employee.rights.isIT || employee.delegation.canMatter"><button class="btn btn-sm btn-default btn-lg" ng-click="addMatter()" ng-bind="'Add New Matter'"></button></div>

    <div class="panel-body" style="overflow-x: auto;">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr class="header-bg">
                    <th>BR.No</th>
                    <th>Matter</th>
                    <th>Status</th>
                    <th>Client</th>
                    <th>Latest Hearing</th>
                    <th>Verdict</th>
                    <th>Date Opened</th>
                    <th>Counsels Assigned</th>
                    <th>Matter Lead</th>
                    <th>Practice Area</th>
                    <th>Added</th>
                    <th ng-if="employee.rights.isAdmin || employee.rights.isIT || employee.delegation.canMatter"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in matters|orderBy:'date':false">
                    <td><a class="btn btn-link" ng-bind="c.brNo.trim()" title="click to edit" ng-click="editMatter(c, employee.rights.isAdmin || employee.rights.isIT || employee.delegation.canMatter? '':'details')"></a></td>
                    <td ng-bind="c.title"></td>
                    <td ng-bind="!c.verdict ? 'Active': 'Inactive'"></td>
                    <td ng-bind="c.client"></td>
                    <td class="text-nowrap" ng-bind="c.nextHearing|date:'mediumDate'"></td>
                    <td ng-bind="c.verdict"></td>
                    <td class="text-nowrap" ng-bind="c.dateOpened|date:'mediumDate'"></td>
                    <td ng-bind="getMembers(c.members)"></td>
                    <td class="text-nowrap"ng-bind="c.lead.extras.name"></td>
                    <td ng-bind="c.practiceArea"></td>
                    <td ng-bind="c.date|date:'shortDate'"></td>
                    <td ng-if="employee.rights.isAdmin || employee.rights.isIT || employee.delegation.canMatter"><a class="btn btn-link" ng-bind="'details'" ng-click="editMatter(c, 'details')"></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-if="matters && matters.length == 0">
                    <td colspan="11" class="text-center">No matters found.</td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center" ng-if="!matters">
            <span><img class="floating-rays" src="../images/Floating rays.gif" alt="loading data" /></span>
        </div>
    </div>
</div>