<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title">Employees' KRA Appraisal</span> <a ng-if="data.length > 0"
                                                                                          class="btn btn-default pull-right"
                                                                                          ng-click="exportToX('/download/kradata')">export </a>
    </h3></div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr class="header-bg">
                <th width="10px"></th>
                <th>Name</th>
                <th>Department</th>
                <th width="10px">Score</th>
                <th>Interpretation</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="app in data" class="clickable" ng-click="showDetails(app)">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="app.employee.firstName + ' '+ app.employee.lastName"></td>
                <td ng-bind="app.employee.department.name"></td>
                <td ng-bind="app.kra.score"></td>
                <td ng-bind="app.kra.text"></td>
                <td ng-bind="app.kra.date | date: 'mediumDate'"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-if="data && !data.length">
                <td colspan="6" class="text-center">No records to display</td>
            </tr>
            <tr ng-if="!data">
                <td colspan="6" class="text-center">
                    <span><img style="width: 50px; vertical-align: -webkit-baseline-middle;"
                               src="../images/Floating rays.gif" alt="loading data"/></span>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/ng-template" id="pages/appraisal-kraappraisal-details.html">
    <div class="panel panel-default kra-settings margin10top">
        <div class="panel-heading"><h3 class="panel-title">KRA Appraisal Report<a class="btn btn-link pull-right"
                                                                                  href="" ng-click="back()">Back</a>
        </h3></div>
        <div class="panel-body" ng-init="reArrange(data.kra)">
            <div class="row">
                <div class="pull-left">
                    <div class="pull-left" style="margin: 5px"><img ng-src="img/{{data.employee.employeeId}}.jpg"
                                                                    width="112" height="113"></div>
                    <div class="pull-right" style="margin: 5px; height: 113px;">
                        <div><font face="Tahoma" size="6" ng-bind="getName(data.employee)"></font></div>
                        <div><font face="Tahoma" size="3" color="#CCCCCC" ng-bind="data.employee.designation"></font>
                        </div>
                        <div><font face="Tahoma" style="font-size: 12.5pt" ng-bind="data.employee.department.name"
                                   color="#333333"></font></div>
                        <div><font face="Tahoma" style="vertical-align:-webkit-baseline-middle;font-size: 24px" ;
                                   color="{{scoring[data.kra.text] || '#333333'}}"
                                   ng-bind="data.kra.text + ' Performance'"></font></div>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table table-bordered">
                <thead>
                <tr class="header-bg">
                    <td style="padding:12px;font-size: 15px;"
                        ng-bind="'KRA Category' + (data.kra.score?', Ratings, ':'') + ' and Achievements'"></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="data.kra.leads.count">
                    <td>
                        <div style="color:#336699;">
                            <span style="color:#336699;font-weight:bold;font-size:22px"
                                  ng-bind="'Leads Generated:'"></span>
                            <br/>
                            <div>
                                <p style="margin: 5px; color:black;">
                                    <span ng-bind="data.kra.leads.count == '0'? 'No leads':(data.kra.leads.count + ' leads')"></span>
                                </p>
                                <span class="form-control auto-height" ng-if="data.kra.leads.explanation"
                                      ng-bind-html="data.kra.leads.explanation.renderLineBreak()"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="(area,kras) in keys">
                    <td>
                        <div style="color:#336699;font-weight:bold;">
                            <span style="color:#336699;font-weight:bold;font-size:22px" ng-bind="area + ':'"></span>
                            <br/>
                            <div ng-repeat="item in kras" ng-init="ind = $index;item.includeArc = false; ">
                                <p style="color:GrayText;margin: 4px auto;border-top: 1px solid #eee;border-bottom: 1px solid #eee;"
                                   ng-bind="item.details.kra"></p>
                                <p style="margin: 5px; color:black;">
                                    <span ng-bind="item.scoring.text"></span>
                                </p>
                                <p style="font-size:12px;color:maroon;margin: 7px auto;border-bottom: 1px solid #eee;"
                                   ng-if="item.achievement" ng-bind="item.achievement"></p>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <label class="control-label">Supervisor Comment</label>
                        <span class="form-control auto-height" data-ng-bind-html="data.kra.comment"></span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="col-sm-4" ng-bind="'Date : '+ (data.kra.date|date:'mediumDate')"></span>
                        <span class="col-sm-4" ng-bind="'By : '+ data.kra.list[0].scoring.by"></span>
                        <span class="col-sm-4" ng-bind="data.kra.text + ' Performance'"></span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</script>

<script type="text/ng-template" id="pages/appraisal-kra-details.html">
    <div ng-include="'pages/appraisal-kraappraisal-details.html'"></div>
</script>