<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title" ng-bind="'Assets ' + '('+ assets.length +')'">Assets</h3></div>
    <div class="panel-heading"><a class="btn btn-default" ng-click="editAsset('new')">New Asset</a></div>

    <div class="panel-body">
        <div ng-show="filteredAssets && filteredAssets.length> numPerPageOpt[0]">
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage" max-size="10"
                        class="pagination-sm pull-left" boundary-links="true"></pagination>
            <div class="form-group pull-right pagination">
                <label>Items Per Page: </label><select class="items-control" ng-model="numPerPage"
                                                       ng-options="i for i in numPerPageOpt"></select>
            </div>
        </div>
        <table ng-if="assets.length > 0" class="table table-bordered table-condensed">
            <thead class="header-bg">
            <tr>
                <th>S/N</th>
                <th>Manufacturer</th>
                <th>Serial #</th>
                <th>Type</th>
                <th>Assigned</th>
                <th style="width: 80px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="asset in pagedAssets">
                <td ng-bind="(currentPage - 1 ) * numPerPage + $index + 1"></td>
                <td ng-bind="asset.manufacturer"></td>
                <td ng-bind="asset.serial"></td>
                <td ng-bind="asset.type.name"></td>
                <td ng-bind="asset.assignments"></td>
                <td>
                    <span class="btn-link pull-left" style="cursor: pointer;" title="Edit Asset" ng-click="editAsset(asset)" ng-bind="'edit'"></span>
                    <span class="btn-link pull-right" style="cursor: pointer;" title="View Asset Details" ng-click="viewAsset(asset)" ng-bind="'view'"></span></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<script id="pages/asset-new.html" type="text/ng-template">
    <div class="panel panel-default margin10top">
        <div class="panel-heading"><h3 class="panel-title"><span ng-bind="(newAsset._id ? 'Edit':'Define New') + ' Asset'"></span><a class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
            'Back'}}</a></h3></div>
        <div class="panel-body">
            <form name="newAssetForm">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2">Asset Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Asset Type</td>
                        <td><select ng-model="newAsset.type" ng-change="typeChanged()"
                                    ng-options="i.name for i in refs.types track by i._id" class="form-control"
                                    ng-required="true"></select></td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td><input class="form-control" ng-model="newAsset.code" type="text" ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Manufacturer</td>
                        <td><input class="form-control" ng-model="newAsset.manufacturer" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Serial #</td>
                        <td><input class="form-control" ng-model="newAsset.serial" type="text"/></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><select ng-model="newAsset.location" ng-options="i.name for i in refs.locs track by i._id"
                                    class="form-control" ng-required="true"></select></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><select ng-model="newAsset.status" ng-options="i for i in refs.states" class="form-control"
                                    ng-required="true"></select></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input class="form-control" ng-model="newAsset.description" type="text"/></td>
                    </tr>
                    <tr>
                        <td>In Care Of</td>
                        <td ng-if="!newAsset.type.shared">
                            <select ng-disabled="!newAsset.type"
                                    ng-model="newAsset.assigned"
                                    ng-options="i.concat for i in refs.emps track by i._id"
                                    class="form-control" ng-required="true"></select></td>
                        <td ng-if="newAsset.type.shared">
                            <ul class="kra-list" ng-disabled="!newAsset.type">
                                <li ng-repeat="desig in refs.emps | orderBy:'name'">
                                    <div class="checkbox">
                                        <label><input type="checkbox"
                                                      ng-checked="newAsset.assigned.indexOf(desig._id) > -1"
                                                      ng-click="changeEmp(desig._id)"> {{desig.name}}</label>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="saveAsset()" ng-disabled="newAssetForm.$invalid || savingNewAsset"
                                    class="btn btn-default" ng-bind="savingNewAsset? 'Saving Asset': 'Save Asset'">Save
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="/pages/asset-view-details.html">
    <div class="panel panel-default margin10top">
        <div class="panel-heading"><h3 class="panel-title">Asset Details<a class="btn btn-link pull-right" href=""
                                                                           ng-click="back()">{{backText? backText:
            'Back'}}</a></h3></div>
        <div class="panel-body">
            <form name="newTicForm">
                <table class="table table-bordered" ng-if="asset">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Asset Type</td>
                        <td ng-bind="asset.type.name"></td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td ng-bind="asset.code"></td>
                    </tr>
                    <tr ng-if="asset.description">
                        <td>Description</td>
                        <td ng-bind="asset.description"></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td ng-bind="asset.location.name"></td>
                    </tr>
                    <tr ng-if="asset.displayName">
                        <td>Display Name</td>
                        <td ng-bind="asset.displayName"></td>
                    </tr>
                    <tr>
                        <td>Serial #</td>
                        <td ng-bind="asset.serial"></td>
                    </tr>
                    <tr ng-if="asset.lastRepaired">
                        <td>Last Repaired</td>
                        <td><input class="form-control" ng-model="ticket.asset.lastRepaired" type="date"
                                   ng-disabled="true"/></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td ng-bind="asset.status"></td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td ng-bind="asset.state"></td>
                    </tr>
                    <tr ng-if="asset.assigned.length > 0">
                        <td colspan="2">
                            <table class="table table-bordered">
                                <tr class="header-bg">
                                    <th colspan="3">Assigned To:</th>
                                </tr>
                                <tr ng-repeat="a in asset.assigned">
                                    <td ng-bind="a.extras.name"></td>
                                    <td ng-bind="a.extras.desig"></td>
                                    <td ng-bind="a.extras.dept"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</script>
