<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16">Weekly Report<a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'"></a></h2></div>
    <div class="panel-body">
        <!--<a href="" class="btn btn-link" ng-click="">Previous Request</a>-->
        <form class="col-sm-12" name="form">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Supervisor: <span class="text-success" ng-if="item.supervisor">{{item.supervisor.lastName}}, {{item.supervisor.firstName}}</span></span><span class="text-danger" ng-if="!item.supervisor">None Assigned</span></h3></div>
                    <div class="panel-body">
                        <div class="form-group"> <!--ng-class="{'has-error': form.UserName.$invalid && !form.UserName.$pristine}"-->
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input id="title" style="width: 100%;" class="form-control" ng-model="report.title" name="title" type="text" required />
                            </div>
                        </div>

                        <div class="form-group"> <!--ng-class="{'has-error': form.UserName.$invalid && !form.UserName.$pristine}"-->
                            <label class="control-label" for="report">Report Summary</label>
                            <div class="controls">
                                <textarea id="report" required class="form-control extra" rows="20" cols="20" ng-model="report.report"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="left">
                                <button class="btn btn-default" ng-click="saveData()" ng-disabled="form.$invalid"  ng-bind="savingData? 'Sending Report': 'Send Report'">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>