﻿<div class="row">
    <p align="center" ng-controller="stateCtrl">
        <span class="slogan" ng-bind="slogan"></span>
    </p>
    <div class="login-container">
        <div id="login" class="login">
            <div ng-include="'pages/message-alert.html'"></div>
            <form method="post" name="form">
                <div class="form-group">
                    <label for="username">User ID</label><span class="is-required">*</span>
                    <input class="form-control" type="text" id="username" ng-model="user.username">
                    <span class="help-block"></span>
                </div>
                    <div class="form-group">
                    <label for="password">Password</label><span class="is-required">*</span>
                    <input class="form-control" type="password" id="password" ng-model="user.password">
                    <span class="help-block"></span>
                </div>
                <!--<span class="forget">Forgot password? Contact PD.</span>-->
                <!--<br />-->
                <!--<script type="text/javascript">var RecaptchaOptions = { theme: 'white' };</script>-->
                <!--&lt;!&ndash;<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LfwxgMTAAAAACgvL07nP_zCmPvBr9DuGQvNyy0U"></script>&ndash;&gt;-->
                <!--<br />-->
                <div class="form-actions">
                    <button class="btn btn-primary btn-login pull-right" style="margin-right: 15px;" ng-click="login()" ng-disabled="form.$invalid || signingIn || !(user && user.password && user.username)" ng-bind="signingIn? 'Signing In': 'Sign In'">Log In</button>&nbsp;
                </div>
            </form>

        </div>
    </div>
</div>