<div class="scgn-membership">
    <div class="h1 title">
        <ul class="nav nav-pills" style="margin: 0px;font-size:1.2rem;">
            <li class="my-btn-success" style="margin-right: 10px;"><a href="#">Hello, {{thisUser.username | uppercase}}</a></li>
            <li ng-class="{active : view.name=='profile'}"  class="" style="margin-right: 10px;" ng-click="getView('profile')"><a href="">Profile</a></li>
            <li ng-class="{active : view.name=='summary'}"  ng-if="hidePaymentView"  class="" style="margin-right: 10px;"  ng-click="getView('summary')"><a href="">Summary</a></li>
            <li ng-class="{active : view.name=='subscription'}"  ng-if="!hidePaymentView" class=""  ng-click="getView('subscription')"><a href="">Subscription</a></li>
        </ul>
    </div>
    <div data-ng-include="'pages/message-alert.html'"></div>
    <div class="scgn-buttons" id="profile">
        <div class="" ng-if="view.name=='profile'">
            <div class="pub-membership">
                <div class="left parent-display">
                    <p class="btn colItem" title="view profile">Profile</p>
                    <img class="colItem" ng-src="/images/profile.png" alt="">
                    <p class="colItem"><button class="btn btn-sm btn-success" ng-click="changePassword()">Change Password</button></p>
                </div>
                <div class="right">
                    <h2 class="my-scgn-bg scgn-base-col1">Details</h2>
                    <table class="table table-striped scgn-pub-profile-details">
                        <tbody>
                        <tr>
                            <td>First Name</td>
                            <td>{{data.firstName | uppercase}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{data.lastName | uppercase}}</td>
                        </tr>
                        <tr>
                            <td>Date Registered</td>
                            <td>{{data.dateRegistered | date: 'MMMM dd, yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>{{data.mPhone}} | {{data.mEmail}}</td>
                        </tr>
                        <tr>
                            <td>Registration Number</td>
                            <td>{{data.regNumber}} | {{data.mEmail}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{data.category}}</td>
                        </tr>
                        <tr>
                            <td>Last Payment</td>
                            <td ng-cloak>{{ tranxHistory.createdOn | date: 'fullDate'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="pub-membership" ng-if="view.name=='summary'" ng-if="hidePaymentView">
            <div class="left parent-display">
                <p class="btn colItem" title="view summary">Summary</p>
            </div>
            <div class="right">
                <h2 class="my-scgn-bg scgn-base-col1">Summary Details</h2>
                <div class="content">
                    <p class="scgn-display-3 text-center scgn-col-outline m-2">Your payment is up to date</p>
                    <hr>
                    <p style="margin:5px;" class="scgn-display-4">Last payment was made on: </p>
                    <p style="margin:5px;" class="scgn-display-5 my-red-text text-center">{{ tranxHistory.createdOn | date: 'fullDate'}}</p>
                    <hr>
                    <p style="margin:5px;" class="scgn-display-4">Registered on: </p>
                    <p style="margin:5px;" class="scgn-display-5 my-red-text text-center">{{ currentMember.dateRegistered | date: 'fullDate'}}</p>
                    <hr>
                    <p style="margin:5px;" class="scgn-display-4">Membership Category: </p>
                    <p style="margin:5px;" class="scgn-display-5 my-red-text text-center">{{ currentMember.category }}</p>

                </div>


            </div>
        </div>
        <div class="pub-membership" ng-if="view.name=='subscription'" ng-if="!hidePaymentView">
            <div class="left parent-display">
                <p class="btn colItem" title="view summary">Subscription</p>
            </div>
            <div class="right">
                <h2 class="my-scgn-bg scgn-base-col1">Subscription Details</h2>
                <div class="content" ng-if="data.status=='uptodate'">
                    <p class="jumbotron">You are yet to pay for <span class="my-red-text" ng-cloak>{{thisUser.today | date: 'yyyy'}}</span> subscription</p>
                    <p class="jumbotron"><span class="my-red-text" ng-cloak>Fee:    </span> &#x20a6; {{thisUser.fee | number: 2}}</p>
                    <p class="text-center"><button ng-click="showSubscriptionForm()" class="btn scgn-box-shadow text-success btn-lg">Pay Subscription</button></p>
                </div>
                <div class="content" ng-if="data.status !='uptodate'">
                    <p class="jumbotron">Your subscription payment for year <span class="my-red-text" ng-cloak>{{thisUser.today | date: 'yyyy'}}</span> is up to date</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="pages/pub/membership/change-password.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>Change Password</span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="passwordForm" enctype="multipart/form-data">
                <div data-ng-include="'pages/message-alert-modal.html'"></div>
                <table class="table table-bordered">
                    <tbody class="details">
                    <tr ng-if="passwordForm.password.$dirty && passwordForm.cpassword.$dirty && m.password !== m.cpassword ">
                        <td></td>
                        <td class="my-red-text">Both Passwords do not match</td>
                    </tr>
                    <tr>
                        <td>New Password</td>
                        <td><input name="password" class="form-control" ng-model="m.password" type="password" ng-required="true" /></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td><input name="cpassword" class="form-control" ng-model="m.cpassword" type="password" ng-required="true" /></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="doChangePassword()" ng-disabled="(m.password == m.cpassword && passwordForm.$dirty) ? false: true"
                                    class="btn btn-default" ng-bind="savingPassword? 'Sending Change Request': 'Change Password'">Change
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>
<script id="pages/membership/pub/summary.html" type="text/ng-template"></script>
<script id="pages/pub/membership/pay-subscription.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>Pay Subscription</span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="passwordForm" enctype="multipart/form-data">
                <div data-ng-include="'pages/message-alert-modal.html'"></div>
                <table class="table table-bordered">
                    <tbody class="details">
                    <tr>
                        <td>Amount</td>
                        <td>&#x20a6; {{m.fee | number: 2}}</td>
                    </tr>
                    <tr>
                        <td style="color:#4CAF50;">Proceed to payment portal</td>
                        <td><input ng-model="m.proceed" type="checkbox" name="proceed" style="width:50px;height:20px;" /></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="paySubscription()" ng-disabled="!m.proceed"
                                    class="btn btn-default" ng-bind="sendingSubscription? 'Sending Payment Request': 'Make Payment'">Pay
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
</script>