<div class="scgn-tne">
    <div class="h2">
        <p style="margin: 0px;">Training/Events</p>
        <div data-ng-include="'pages/message-alert-modal.html'"></div>
    </div>
    <div class="tne-content">
        <div class="card" ng-repeat="t in tne track by t._id">
            <div class="left">
                <div class="left-a"><span>{{t.type}}</span></div>
                <div class="left-a">
                    <span>Starting</span>
                    <span>{{t.start | date: 'MMM d, yyyy'}}</span>
                </div>
                <div class="left-a">
                    <span>To</span>
                    <span>{{t.end | date: 'MMM d, yyyy'}}</span>
                </div>
                <div class="left-a">
                    <!--<span>To</span>-->
                    <!--<span>{{t.end | date: 'MMM d, yyyy'}}</span>-->
                    <button class="btn btn-sm scgn-box-shadow" title="Pay for {{t.type}}" ng-click="displayTnEForm(t)">Pay</button>
                </div>
            </div>
            <div class="right">
                <div class="">
                    <span class="my-red-text">Theme: </span><br>
                    {{t.title}}</div>
                <div class="">
                    <span class="my-red-text">Venue: </span><br>
                    {{t.venue}}</div>
                <div class="">
                    <span class="my-red-text">Fee: </span><br>
                    &#x20a6; {{t.fee | number: 2}}</div>
                <div class="">
                    <span class="my-red-text">Contact</span>: <br>
                    {{t.contactName}} | {{t.contactEmail}} | {{t.contactPhone}}</div>
            </div>
        </div>
        <div class="scgn-flex-container scgn-display-4 my-red-text" ng-if="tne.length == 0">There are currently no events</div>
    </div>
    <a ng-href="/" style="color: white;" class="" ng-if="tne.length==0"><i class="fa fa-arrow-left fa-2x"></i> Go Back to Home</a>
</div>