doctype html
html(lang="en")
    head
        title #{title}

    body
        img(src='/public/images/logo.png', alt='Logo')
        div.container
            h3 Dear #{firstName}, #{lastName}
            h4 A new Event is available. Details are as follows:
            div.jumbotron 
                ul 
                    li  Event Title : #{eventTitle}
                    li  Event Type  : #{type}
                    li  Start Date     : #{start}
                    li  End Date      : #{end}
                    li  Venue: #{venue}
                    li  Fee:  &#x20a6; #{fee}
                    li  SCGN Contact Name: #{contactName}
                    li  SCGN Contact Phone: #{contactPhone}

            h3  Thank You

            p   
            |   Go to   
            a(class="button btn btn-link", href="#{scgnUrl}" ) SCGN  
            |   website
    
