<div class="scgn-payment-details">
    <div class="scgn-receipt">

        <div class="scgn-receipt-bg scgn-base-col1 scgn-display-4 mb-2 p-1">Payment Receipt</div>
        <div class="receipt" ng-if="!displayEmpty">
            <table class="table">
                <tbody class="details scgn-receipt-bg">
                <tr class="">
                    <td class="">Description</td>
                    <td class="">{{receipt.description}}</td>
                </tr>
                <tr class="">
                    <td class="">Payment Type</td>
                    <td class="">{{receipt.type}}</td>
                </tr>
                <tr class="">
                    <td class="">Amount</td>
                    <td class="">&#x20a6; {{receipt.amount | number: 2}}</td>
                </tr>
                <tr class="">
                    <td class="">Time</td>
                    <td class="">{{receipt.createdOn | date: 'fullDate'}}</td>
                </tr>
                <tr class="">
                    <td class="">Customer Email</td>
                    <td class="">{{receipt.email}}</td>
                </tr>
                <tr class="">
                    <td class="">Transaction Status</td>
                    <td class="">{{receipt.status}}</td>
                </tr>
                <tr class="">
                    <td class="">Payment By</td>
                    <td class="">{{receipt.customer}}</td>
                </tr>
                <!--<tr class="">-->
                    <!--<td class=""></td>-->
                    <!--<td class=""></td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
        <div class="jumbotron my-red-text scgn-display-5 text-center" ng-if="displayEmpty" style="height: 500px;">
            No Payment to display
        </div>
    </div>
</div>