<div class="scgn-payment-details">
    <div class="scgn-receipt">
        <div class="scgn-receipt-bg scgn-base-col1 scgn-display-4 mb-2 p-1">Payment Receipt</div>
        <div class="jumbotron my-red-text scgn-display-5 text-center" style="height: 500px;">
            <table class="table table-hover">
                <tbody class="details">
                <tr>
                    <td>Amount</td>
                    <td>&#x20a6; {{details.Amount | number: 2}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{details.Status}}</td>
                </tr>
                <tr>
                    <td>Scheme</td>
                    <td>{{ details.Scheme}}</td>
                </tr>
                <tr>
                    <td>Reason</td>
                    <td>{{details.StatusDescription}}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ details.TranDateTime | date: 'fullDate'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



