<div class="panel panel-default margin10top membership">
    <div class="panel-heading">
        <h1 class="">Training/Event
            <span class="pull-right small text-danger"></span>
            <button class="btn scgn-box-shadow btn-sm pull-right" ng-click="createTnE()">New Training/Event</button>
        </h1>
    </div>
    <accordion close-others="true">
        <accordion-group heading="Dashboard" is-open="false" ng-if="true">
            <div class="list-group">
                <span ng-bind="tne?tne.length:0" class="badge"></span> Training/Event
            </div>
            <div class="">
                <table ng-if="tne.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th class="text-center">Venue</th>
                            <th class="text-center">Contact</th>
                            <th>Fee</th>
                            <th>Status</th>
                            <th>Start</th>
                            <th>End</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tn in tne track by tn._id">
                            <td ng-bind="$index + 1" class="text-center"></td>
                            <td ng-cloak>{{ tn.title | uppercase}}</td>
                            <td ng-cloak>{{ tn.venue }}</td>
                            <td ng-cloak class="text-center">{{ tn.contactName }}</td>
                            <td ng-cloak class="text-center">{{tn.fee | number: 2}}</td>
                            <td ng-cloak class="text-center">{{ tn.status }}</td>
                            <td ng-cloak class="text-center">{{ tn.start | date: 'MMM dd, yyyy'}}</td>
                            <td ng-cloak class="text-center">{{ tn.end | date: 'MMM dd, yyyy'}}</td>
                            <td ng-cloak class="">
                                <button ng-if="r.bookRetiredOn == null" class="btn my-btn-success" ng-click="edit(tn)">Edit</button>
                            </td>
                            <td ng-cloak class="">
                                <button ng-if="r.bookRetiredOn == null" class="btn  {{ tn.isActive? 'my-btn-warn': 'my-btn-success'}} " ng-click="setTnEIsActive(tn._id)">{{tn.isActive ? 'Deactive': 'Activate'}}</button>
                            </td>
                        </tr>
                    </tbody>
                    <!--{{employee.firstName}}, {{employee.lastName}}-->

                </table>
                <div class="no-books" ng-if="tne.length == 0">
                    No Training/Event To Display
                </div>
            </div>
        </accordion-group>
        <!--<accordion-group heading="List of Members" is-open="false" ng-if="true">-->
        <!--<div class="list-group">-->
        <!--<span ng-bind="pendingBookRequests?pendingBookRequests.length:0" class="badge"></span> Pending-->
        <!--</div>-->
        <!--<div class="">-->
        <!--<table ng-if="pendingBookRequests.length > 0" class="table table-bordered table-condensed">-->
        <!--<thead class="header-bg">-->
        <!--<tr>-->
        <!--<th>S/N</th>-->
        <!--<th>Book</th>-->
        <!--<th class="text-center">Status</th>-->
        <!--<th class="text-center">Quantity</th>-->
        <!--<th>Employee Name</th>-->
        <!--<th>On</th>-->
        <!--<th></th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="r in pendingBookRequests track by r._id">-->
        <!--<td ng-bind="$index + 1" class="text-center"></td>-->
        <!--<td ng-cloak>{{ r.bookId.title | uppercase}}</td>-->
        <!--<td ng-cloak>{{ r.status }}</td>-->
        <!--<td ng-cloak class="text-center">{{ r.quantity }}</td>-->
        <!--<td ng-cloak class="text-center">{{ r.employeeId.lastName | uppercase}}, {{ r.employeeId.firstName }}</td>-->
        <!--<td ng-cloak class="text-center">{{ r.createdOn | date: 'medium'}}</td>-->
        <!--<td ng-cloak class=""><button class="btn my-btn-info" ng-click="grantRequest(r)">Grant Request</button></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--&lt;!&ndash;{{employee.firstName}}, {{employee.lastName}}&ndash;&gt;-->

        <!--</table>-->
        <!--<div class="no-books" ng-if="pendingBookRequests.length == 0">-->
        <!--No Pending Request To Display-->
        <!--</div>-->
        <!--</div>-->
        <!--</accordion-group>-->
    </accordion>
</div>

<script id="pages/tne/new.html" type="text/ng-template">
    <div class="panel panel-default detailview" style="">
        <div class="panel-heading" style="padding: 20px;"><h3 class="panel-title"><span ng-cloak>New Training/Event</span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="tneForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <tbody class="details">
                    <tr>
                        <td>Title</td>
                        <td><input name="title" class="form-control" ng-model="tne.title" type="text" ng-required="true" /></td>
                    </tr>
                    <tr>
                        <td>Fee</td>
                        <td><input name="fee" class="form-control" ng-model="tne.fee" type="number" ng-required="true" /></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <select ng-model="tne.type"
                                    ng-options="i for i in type" class="form-control"
                                    ng-required="true"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Start</td>
                        <td>
                            <input ng-disabled="disable" type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="tne.start" is-open="startOpen" ng-required="true" close-text="Close" />
                            <span class="input-group-btn unblock">
                              <button ng-disabled="disable" type="button" class="btn btn-default" ng-click="open($event, 'startOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>End</td>
                        <td>
                            <input ng-disabled="disable" type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="tne.end" is-open="endOpen" ng-required="true" close-text="Close" />
                            <span class="input-group-btn unblock">
                              <button ng-disabled="disable" type="button" class="btn btn-default" ng-click="open($event, 'endOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Venue</td>
                        <td><textarea name="venue" class="form-control" ng-model="tne.venue" ng-required="true" rows="4" cols="10"></textarea></td>
                    </tr>
                    <tr>
                        <td>Contact Name</td>
                        <td><input name="contactName" class="form-control" ng-model="tne.contactName" type="text" ng-required="true" /></td>
                    </tr>
                    <tr>
                        <td>Contact Phone</td>
                        <td><input name="contactPhone" class="form-control" ng-model="tne.contactPhone" type="phone" /></td>
                    </tr>
                    <tr>
                        <td>Contact Email</td>
                        <td><input name="contactEmail" class="form-control" ng-model="tne.contactEmail" type="email" ng-required="true" /></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="doCreateTnE()" ng-disabled="tneForm.$invalid"
                                    class="btn btn-default" ng-bind="savingTnE? 'Sending Request': tne._id?'Update':'Create'">
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>