<div class="panel panel-default detailview">
    <div class="panel-heading"><h3 class="panel-title"><span>{{tneItem.title}} {{tneItem.type}}</span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
        'Close'}}</a></h3>
    </div>
    <div class="panel-body">
        <form name="paymentForm" enctype="multipart/form-data">
            <table class="table table-bordered">
                <thead class="header-bg">
                <tr>
                    <th ng-cloak class="text-info text-center">Title</th>
                    <th ng-cloak class="text-info text-center">Venue</th>
                    <th ng-cloak class="text-info text-center">Fee (&#x20a6;)</th>
                    <th ng-cloak class="text-info text-center">Contact Email</th>
                </tr>
                </thead>
                <tbody class="details">
                <tr>
                    <td style="font-size:1em;text-align:left;color:inherit;font-family:inherit;">{{tneItem.title | uppercase}}</td>
                    <td class="">{{tneItem.venue }}</td>
                    <td class="text-right">{{tneItem.fee | number: 2}}</td>
                    <td class="text-right">{{tneItem.contactEmail}}</td>
                </tr>
                <hr>
                <tr>
                    <td colspan="4" style="color: #fe2517;font-size: 1rem;text-align:center;background: #f0f0f0;">Please provide the following details</td>
                </tr>
                <tr>
                    <td colspan="2">Full Name</td>
                    <td colspan="2" class="my-red-text"><input type="text" ng-model="t.name" class="form-control" ng-required="true"></td>
                </tr>
                <tr>
                    <td colspan="2">Email</td>
                    <td colspan="2" class="my-red-text"><input type="email" ng-model="t.email" class="form-control" ng-required="true"></td>
                </tr>
                <tr>
                    <td colspan="2">Phone</td>
                    <td colspan="2" class="my-red-text"><input type="tel" ng-model="t.phone" class="form-control" ng-required="true"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <button ng-click="makePayment()" ng-disabled="paymentForm.$invalid" class="btn btn-default">PAY</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
