<div class="panel panel-default margin10top membership">
    <div class="panel-heading">
        <h1 class="">Membership
            <span class="pull-right small text-danger"></span>
            <button class="btn scgn-box-shadow btn-sm pull-right" ng-click="uploadMember()">Upload Members</button>
            <button class="btn scgn-box-shadow btn-sm pull-right mr-1" ng-click="createMember()">New Members</button>
        </h1>
    </div>
    <accordion close-others="true">
        <accordion-group heading="Dashboard" is-open="false" ng-if="true">
            <div class="list-group">
                <span ng-bind="members?members.length:0" class="badge"></span> Member(s)
            </div>
            <div class="">
                <table ng-if="members.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Registered On</th>
                            <th>Registration Number On</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="m in members | itemsPerPage: 10">
                            <td ng-bind="$index + 1" class="text-center"></td>
                            <td ng-cloak>{{ m.firstName | capitalize }}, {{ m.middleName | capitalize }}</td>
                            <td ng-cloak>{{ m.lastName | capitalize }}</td>
                            <td ng-cloak class="text-center">{{ m.mEmail }}</td>
                            <td ng-cloak class="text-center">{{m.category}}</td>
                            <td ng-cloak class="text-center">{{ m.status }}</td>

                            <td ng-cloak class="text-center">{{ m.dateRegistered | date: 'medium'}}

                            </td>
                            <td ng-cloak class="text-center">{{ m.regNumber }}</td>
                            <td ng-cloak class="">
                                <button ng-if="r.bookRetiredOn == null" class="btn my-btn-success" ng-click="viewDetail(m)">Detail
                                </button>
                            </td>
                            <td ng-cloak class="">
                                <button ng-if="r.bookRetiredOn == null" class="btn btn-danger" ng-click="resetMemberPassword(m._id, m.firstName)">Reset Password
                                </button>
                            </td>
                            <td ng-cloak class="">
                                <button ng-if="r.bookRetiredOn == null" class="btn {{ m.isActive ? 'my-btn-warn' : 'my-btn-success' }}" ng-click="setMembershipIsActive(m._id)"> {{ m.isActive ? 'Deactivate' : 'Activate' }}
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <dir-pagination-controls auto-hide="true"></dir-pagination-controls>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="no-books" ng-if="members.length == 0">
                    No Member To Display
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
<script id="pages/membership/new.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>New Membership</span><a
                class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="membershipForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <tbody class="details">
                    <tr>
                        <td>First Name</td>
                        <td><input name="firstName" class="form-control" ng-model="m.firstName" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input name="lastName" class="form-control" ng-model="m.lastName" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Middle Name</td>
                        <td><input name="middleName" class="form-control" ng-model="m.middleName" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input name="email" class="form-control" ng-model="m.mEmail" type="email"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input name="phone" class="form-control" ng-model="m.mPhone" type="telephone"
                                   ng-required="true"/></td>
                    </tr>
                     <tr>
                        <td>Registration Number</td>
                        <td><input name="regNumber" class="form-control" ng-model="m.regNumber" type="telephone"
                                      ng-required="true" /></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <select ng-model="m.category"
                                    ng-options="i for i in categories" class="form-control"
                                    ng-required="true"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date Registered</td>
                        <td>
                            <input ng-disabled="disable" type="text" class="form-control unblock"
                                   datepicker-popup="dd MMM yyyy" ng-model="m.dateRegistered" is-open="startOpen"
                                   ng-required="true" close-text="Close"/>
                            <span class="input-group-btn unblock">
                              <button ng-disabled="disable" type="button" class="btn btn-default"
                                      ng-click="open($event, 'startOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><textarea name="contact" class="form-control" ng-model="m.contact" type="telephone"
                                      ng-required="true" rows="4" cols="10"></textarea></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="doCreateMember()" ng-disabled="membershipForm.$invalid"
                                    class="btn btn-default"
                                    ng-bind="savingMembership? 'Sending Membership Request': 'Create New Member'">Create
                                New Member
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>


<script id="pages/membership/upload.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>Upload Members</span><a
                class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <div ng-include="viewPath.alertModal"></div>
            <form name="membersUploadForm">
                <table class="table table-bordered">
                    <tbody class="details">
                    <tr>
                        <td colspan="2" style="text-align:center;font-style:italic;color:red;">Please upload an excel file with the following headers</td>
                   </tr>
                    <tr>
                        <td colspan="2" style="text-align:left;"><button class="btn btn-sm m-2" ng-repeat="v in fields">{{v | uppercase}}</button></td>
                   </tr>
                    <tr>
                        <td>Select Excel File:</td>
                        <td>
                            <!--<input name="uploadMembers" class="form-control" type="file"  onchange="angular.element(this).scope().uploadFile(this.files)" />-->
                            <input name="uploadMembers" class="form-control" type="file"  file-model="membersFile" />
                                   </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="1" class="text-center">
                            <button ng-click="doUploadMembers()" ng-disabled=""
                                    class="btn btn-success"
                                    ng-bind="uploadingMembers? 'Sending Membership Request': 'Upload New Member(s)'">Create
                                New Member
                            </button>
                        </td>

                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>
<script id="pages/membership/detail.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading" style="padding: 20px;"><h3 class="panel-title"><span ng-cloak>Detail</span><a
                class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody class="details">
                <tr>
                    <td>First Name</td>
                    <td ng-cloak>{{m.firstName | uppercase}}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td ng-cloak>{{m.lastName | uppercase }}</td>
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td ng-cloak>{{m.middleName | uppercase }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td ng-bind="m.mEmail"></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td ng-bind="m.mPhone"></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td ng-cloak>{{m.contact | limitTo: 50}}</td>
                </tr>
                <tr>
                    <td>Registration Number</td>
                    <td ng-bind="m.regNumber"></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td ng-cloak>{{ m.category }}</td>
                </tr>
                <tr>
                    <td>Date Registered</td>
                    <td ng-cloak>{{ m.dateRegistered | date:'MMM dd, yyyy'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>