<div class="panel panel-default margin10top membership">
    <div class="panel-heading">
        <h1 class="">New Member List</h1>
    </div>
    <accordion close-others="true">
        <accordion-group heading="Approved" is-open="false" ng-if="viewRights.canManageMember">
            <div class="list-group">
                <span ng-bind="approvedMemberList?approvedMemberList.length:0" class="badge"></span> Approved New Member(s)
            </div>
            <div class="">
                <table ng-if="approvedMemberList.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Registration Number</th>
                        
                        <th ng-if="canManageMember"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="m in approvedMemberList | itemsPerPage: 10">
                        <td ng-bind="$index + 1" class="text-center"></td>
                        <td ng-cloak>{{ m.firstName | capitalize }}</td>
                        <td ng-cloak>{{ m.lastName | capitalize }}</td>
                        <td ng-cloak >{{ m.email }}</td>
                        <td ng-cloak >{{m.website}}</td>
                        <td ng-cloak >{{ m.status }}</td>
                        <td ng-cloak class="text-center">{{ m.createdOn | date: 'medium'}}</td>
                        <td ng-cloak >{{ m.regNumber }}</td>
                        <!-- <td ng-cloak class="text-center" ng-if="canManageMember">
                            <button
                                    ng-if="r.bookRetiredOn == null"
                                    class="btn btn-warning" style="color:black;"
                                    ng-click="updateNewMemberList(m._id)">Mark as Created
                            </button>
                        </td> -->
                        <td ng-cloak class="text-center"> <button title='Create Approved Member' class="btn btn-warning" ng-click='addRegisteredMember(m._id)'>Create</button></td>

                    </tr>
                    <tr>
                        <td colspan="9">
                            <dir-pagination-controls auto-hide="true"></dir-pagination-controls>
                        </td>
                    </tr>
                    </tbody>

                    <!--{{employee.firstName}}, {{employee.lastName}}-->

                </table>
                <div class="no-books" ng-if="members.length == 0">
                    No Member To Display
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="Active" is-open="false" ng-if="viewRights.canManageMember">
            <div class="list-group">
                <span ng-bind="activeMembers?activeMembers.length:0" class="badge"></span> Active Member(s)
            </div>
            <div class="">
                <table ng-if="activeMembers.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Contact</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="m in activeMembers | itemsPerPage: 10">
                        <td ng-bind="$index + 1" class="text-center"></td>
                        <td ng-cloak>{{ m.firstName | capitalize }}</td>
                        <td ng-cloak>{{ m.lastName | capitalize }}</td>
                        <td ng-cloak>{{ m.mEmail }}</td>
                        <td ng-cloak>{{m.category}}</td>
                        <td ng-cloak>{{m.contact}}</td>
                        <td ng-cloak>{{m.mPhone}}</td>
                        <td ng-cloak>{{ m.status }}</td>
                        <td ng-cloak>{{ m.dateRegistered | date: 'medium'}}</td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <dir-pagination-controls auto-hide="true"></dir-pagination-controls>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="no-books" ng-if="activeMembers.length == 0">
                    No Member To Display
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="Membership Pre-Approval" is-open="false" ng-if="viewRights.canApprove">
            <div class="list-group">
                <span ng-bind="registeredMemberList?registeredMemberList.length:0" class="badge"></span> Member(s) Awaiting Approval
            </div>
            <div class="">
                <table ng-if="registeredMemberList.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th>Status</th>
                        <th>Contact</th>
                        <th>Phone Number</th>
                        <th>Created On</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="m in registeredMemberList | itemsPerPage: 10">
                        <td ng-bind="$index + 1" class="text-center"></td>
                        <td ng-cloak>{{ m.firstName | capitalize }}</td>
                        <td ng-cloak>{{ m.lastName | capitalize }}</td>
                        <td ng-cloak>{{ m.email }}</td>
                        <td ng-cloak>{{m.website}}</td>
                        <td ng-cloak>{{ m.status }}</td>
                        <td ng-cloak>{{ m.contact }}</td> 
                        <td ng-cloak>{{ m.mPhone }}</td>
                        <td ng-cloak>{{ m.createdOn | date: 'medium'}}</td>
                        <td ng-cloak><button class="btn btn-success" ng-click="approveMemeber(true, m._id)">Approve</button></td>
                        <td ng-cloak><button class="btn btn-danger" ng-click="approveMemeber(false, m._id)">Decline</button></td>
                    </tr>
                    <tr>
                        <td colspan="11">
                            <dir-pagination-controls auto-hide="true"></dir-pagination-controls>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="no-books" ng-if="createdMemberList.length == 0">
                    No Member To Display
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="Manage Membership Fee" is-open="false" ng-if="viewRights.canApprove">
                <div class="list-group">
                    <span ng-bind="membershipFees?membershipFees.length:0" class="badge"></span> Fee(s) Found
                </div>
                <div class="">
                    <table ng-if="membershipFees.length > 0" class="table table-bordered table-condensed">
                        <thead class="header-bg">
                        <tr>
                            <th>#</th>
                            <th>Fee Type</th>
                            <th>Amount</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                            <th>Last Updated By</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="m in membershipFees | itemsPerPage: 10">
                            <td ng-bind="$index + 1" class="text-center"></td>
                            <td ng-cloak>{{ m.type }}</td>
                            <td ng-cloak>{{m.amount | number }}</td>
                            <td ng-cloak>{{ m.dateCreated | date:'short' }}</td>
                            <td ng-cloak>{{ m.dateUpdated | date:'short' }}</td> 
                            <td ng-cloak>{{ m.employeeId.firstName | capitalize }}, {{ m.employeeId.lastName | capitalize }}</td>
                            <td ng-cloak><button class="btn btn-warning" ng-click="updateFee(m)">Update</button></td>
                        </tr>
                        <tr>
                            <td colspan="11">
                                <dir-pagination-controls auto-hide="true"></dir-pagination-controls>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="no-books" ng-if="membershipFees.length == 0">
                        No Membership Fee To Display
                    </div>
                </div>
            </accordion-group>
    
    </accordion>
</div>

