<div class="panel panel-default detailview">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span ng-cloak>Update Fee</span>
            <a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText: 'Close'}}
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <form name="updateFeeForm" enctype="multipart/form-data">
            <table class="table table-bordered">
                <tbody class="details">
                    <tr>
                        <td>Type</td>
                        <td>
                            <input name="type" class="form-control" ng-model="m.type" type="text" ng-required="true" readOnly/>
                        </td>
                    </tr>
                    <tr>
                        <td>Amount  &#x20a6;</td>
                        <td>
                            <input name="amount" class="form-control" ng-model="m.amount" type="number" ng-required="true" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="doUpdateFee()" ng-disabled="updateFeeForm.$invalid" class="btn btn-default" ng-bind="savingMembership? 'Sending Fee Update Request': 'Update Fee'">Create Update Fee
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>