<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16"><span ng-bind="employee._id? 'Edit Employee Record':'New Employee Record'"></span><a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'"></a></h2></div>
    <div class="panel-body">
        <div ng-include="'pages/message-alert-modal.html'"></div>
        <form class="col-sm-12" name="form">
            <div class="col-xs-12">
                <div class="pull-left">
                    <div class="pull-left" style="margin: 5px"><img ng-src="{{'img/' + employee.employeeId + '.jpg'}}" width="112" height="113"></div>
                    <div class="pull-right" style="margin: 5px; height: 113px;">
                        <div><font face="Tahoma" size="6" ng-bind="employee.firstName + ' ' + employee.lastName"></font></div>
                        <div><font face="Tahoma" size="3" color="#CCCCCC" ng-bind="employee.designation"></font></div>
                        <div><font face="Tahoma" style="font-size: 12.5pt" color="#333333" ng-bind="employee.department.name"></font></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Personal Data</h3></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr><td><span>First Name:</span><span class="is-required">*</span> </td><td><input class="form-control" ng-model="employee.firstName" type="text" required ng-required="true" /> </td></tr>
                            <tr><td><span>Middle Name:</span></td><td><input class="form-control" ng-model="employee.middleName" type="text" /></td></tr>
                            <tr><td><span>Last Name:</span><span class="is-required">*</span></td><td><input class="form-control" ng-model="employee.lastName" type="text" required ng-required="true" /></td></tr>
                            <tr>
                                <td><span>Date Of Birth:</span><span class="is-required">*</span></td>
                                <td>
                                    <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="employee.dob" name="dob" is-open="dob" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn unblock"><button type="button" class="btn btn-default" ng-click="open($event, 'dob')"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                </td>
                            </tr>
                            <tr><td><span>Gender:</span><span class="is-required">*</span></td><td><select required ng-model="employee.gender" name="gender" ng-options="i for i in constants.gender" class="form-control" ng-required="true"></select></td></tr>
                            <tr><td><span>Marital Status:</span><span class="is-required">*</span></td><td><select ng-model="employee.maritalStatus" name="maritalStatus" ng-options="i as i for i in constants.status" class="form-control" ng-required="true"></select></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Employment Information</h3></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr><td><span>Hired On:</span></td><td><input ng-disabled="true" type="text" datepicker-popup="dd MMM yyyy" class="form-control unblock" ng-model="employee.hired" name="hired" /></td></tr>
                            <tr><td><span>Department:</span></td><td><input ng-disabled="true" type="text" class="form-control unblock" ng-model="employee.department.name" name="deparment" /></td></tr>
                            <tr><td><span>Designation:</span></td><td><input ng-disabled="true" type="text" class="form-control unblock" ng-model="employee.designation" name="hired" /></td></tr>
                            <tr><td><span>Access Type:</span></td><td><input ng-disabled="true" type="text" class="form-control unblock" ng-model="employee.access" name="access" /></td></tr>
                            <tr><td><span>Location:</span></td><td><input ng-disabled="true" type="text" class="form-control unblock" ng-model="employee.location" name="location" /></td></tr>Location {{employee.location}}
                            <tr><td><span>Status:</span></td><td><input ng-disabled="true" type="text" class="form-control unblock" ng-model="employee.status" name="location" /></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Address & Contact Information</h3></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr><td><span>Street:</span></td><td><input class="form-control" ng-model="employee.street" type="text" /></td></tr>
                            <tr><td><span>City:</span></td><td><input class="form-control" ng-model="employee.city" type="text" /></td></tr>
                            <tr><td><span>State:</span></td><td><input class="form-control" ng-model="employee.state" type="text" /></td></tr>
                            <tr><td><span>Zip Code:</span></td><td><input class="form-control" ng-model="employee.zipCode" type="text" /></td></tr>
                            <tr><td><span>Personal Email:</span></td><td><input class="form-control" ng-model="employee.pEmail" type="email" /></td></tr>
                            <tr><td><span>Mobile Phone:</span><span class="is-required">*</span></td><td><input class="form-control" ng-model="employee.pPhone" ng-required="true" type="tel" /></td></tr>
                            <tr><td><span>Work Email:</span></td><td><input class="form-control" ng-model="employee.wEmail" type="email" /></td></tr>
                            <tr><td><span>Work Phone:</span></td><td><input class="form-control" ng-model="employee.wPhone" type="tel" /></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Emergency Contact</h3></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr><td><span>Full Name:</span></td><td><input class="form-control" ng-model="employee.nokName" type="text" /></td></tr>
                            <tr><td><span>Relationship:</span></td><td><input class="form-control" ng-model="employee.nokRelationship" type="text" /></td></tr>
                            <tr><td><span>Phone:</span></td><td><input class="form-control" ng-model="employee.nokPhone" type="tel" /></td></tr>
                            <tr><td><span>Email:</span></td><td><input class="form-control" ng-model="employee.nokEmail" type="email" /></td></tr>
                            <tr><td><span>Address:</span></td><td><textarea name="address" rows="2" cols="20" class="form-control" ng-model="employee.nokAddress"></textarea></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span ng-if="errText" class="text-center" ng-bind="errText"></span>
                <div align="center" class="text-center"><input value="{{btnSaveLabel}}" class="btn btn-default" ng-disabled="updating || form.$invalid" type="button" ng-click="saveData()"></div>
            </div>
        </form>
    </div>
</div>