<div class="panel panel-default cashlist">
    <div class="panel-heading"><h3 class="panel-title">Previous Requests<a class="btn btn-link pull-right" href=""
                                                                           ng-click="back()">Close</a></h3></div>
    <div class="panel-body">
        <accordion close-others="true">
            <accordion-group ng-repeat="(key, dg) in reqs" heading="{{key}}" is-open="why">
                <div ng-include="'/outoffice/in-court.html'" ng-if="key == 'In Court'"></div>
                <div ng-include="'/outoffice/travel.html'" ng-if="key == 'Travel for Cases'"></div>
                <div ng-include="'/outoffice/training.html'" ng-if="key == 'Training'"></div>
                <div ng-include="'/outoffice/others.html'" ng-if="key == 'Others'"></div>
                <div ng-include="'/outoffice/default.html'" ng-if="['PP\'s Work', 'Transactions'].indexOf(key) >= 0"></div>
            </accordion-group>
        </accordion>
        <p align="center" ng-if="!reqs || reqs.length > 0">No requests found</p>
    </div>
</div>

<script id="/outoffice/in-court.html" type="text/ng-template">
    <table class="table table-bordered table-responsive cashlist">
        <thead>
        <tr class="">
            <th>S/N</th>
            <th>Date</th>
            <th>Resumption Time</th>
            <th>Date of Request</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in dg">
            <td ng-bind="$index+1"></td>
            <td ng-bind="req.date|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.resumptionTime|date:''"></td>
            <td ng-bind="req.dateCreated|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.status"></td>
        </tr>
        </tbody>
    </table>
</script>
<script id="/outoffice/transactions.html" type="text/ng-template">
    <table class="table table-bordered table-responsive cashlist">
        <thead>
        <tr class="">
            <th>S/N</th>
            <th>Date</th>
            <th>Resumption Time</th>
            <th>Date of Request</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in dg">
            <td ng-bind="$index+1"></td>
            <td ng-bind="req.date|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.resumptionTime|date:''"></td>
            <td ng-bind="req.dateCreated|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.status"></td>
        </tr>
        </tbody>
    </table>
</script>
<script id="/outoffice/travel.html" type="text/ng-template">
    <table class="table table-bordered table-responsive cashlist">
        <thead>
        <tr class="">
            <th>S/N</th>
            <th>Start Date</th>
            <th>Resumption Date</th>
            <th>Date of Request</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in dg">
            <td ng-bind="$index+1"></td>
            <td ng-bind="req.date|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.resumptionDate|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.dateCreated|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.status"></td>
        </tr>
        </tbody>
    </table>
</script>
<script id="/outoffice/training.html" type="text/ng-template">
    <table class="table table-bordered table-responsive cashlist">
        <thead>
        <tr class="">
            <th>S/N</th>
            <th>Date of Training</th>
            <th>Resumption Date</th>
            <th>Date of Request</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in dg">
            <td ng-bind="$index+1"></td>
            <td ng-bind="req.date|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.resumptionDate|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.dateCreated|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.status"></td>
        </tr>
        </tbody>
    </table>
</script>
<script id="/outoffice/default.html" type="text/ng-template">
    <table class="table table-bordered table-responsive cashlist">
        <thead>
        <tr class="">
            <th>S/N</th>
            <th>Out of Office Date</th>
            <th>Resumption Time</th>
            <th>Status</th>
            <th>Date of Request</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in dg">
            <td ng-bind="$index+1"></td>
            <td ng-bind="req.date|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.resumptionTime|date:'shortTime'"></td>
            <td ng-bind="req.status"></td>
            <td ng-bind="req.dateCreated|date:'yyyy MMM dd'"></td>
        </tr>
        </tbody>
    </table>
</script>
<script id="/outoffice/others.html" type="text/ng-template">
    <table class="table table-bordered table-responsive cashlist">
        <thead>
        <tr class="">
            <th>S/N</th>
            <th>Out of Office Date</th>
            <th>Resumption Time/Date</th>
            <th>Status</th>
            <th>Date of Request</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="req in dg">
            <td ng-bind="$index+1"></td>
            <td ng-bind="req.date|date:'yyyy MMM dd'"></td>
            <td ng-if="req.timeBased" ng-bind="req.resumptionTime|date:'shortTime'"></td>
            <td ng-if="!req.timeBased" ng-bind="req.resumptionDate|date:'yyyy MMM dd'"></td>
            <td ng-bind="req.status"></td>
            <td ng-bind="req.dateCreated|date:'yyyy MMM dd'"></td>
        </tr>
        </tbody>
    </table>
</script>