<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16">Out of Office Request</h2></div>
    <div class="panel-body">
        <a href="" class="btn btn-link" ng-click="myOutOfOfficeRequests()">Previous Request</a>
        <form class="col-sm-12" name="form">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Add New Request</h3></div>
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive">
                            <tr><td><span>Department:</span><span class="is-required"> *</span></td><td><input class="form-control" ng-model="employee.department.name" readonly type="text" required ng-required="true"/> </td></tr>
                            <tr><td><span>Request Type:</span><span class="is-required"> *</span></td><td><select required ng-model="request.requestType" ng-required="true" name="level" ng-options="i.name for i in outRequestTypes track by i.name" class="form-control"></select></td></tr>



                            <tr><td><span>Date:</span><span class="is-required"> *</span></td><td>
                                <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="request.date" name="date" is-open="dateopened" ng-required="true" close-text="Close" />
                                <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'dateopened')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </td></tr>
                            <tr ng-show="request.requestType.canChangeRType">
                                <td><span></span></td>
                                <td>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" name="prt" ng-model="request.requestType.timeBased" ng-value="true"> Time?
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="prt" ng-model="request.requestType.timeBased" ng-value="false"> Date?
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="request.requestType.timeBased">
                                <td><span>Resumption Time:</span></td>
                                <td>
                                    <div ng-model="request.resumptionTime" ng-change="setResumeTime()" hour-step="1" minute-step="15" show-meridian="true" timepicker ng-required="request.requestType.timeBased"></div>
                                </td>
                            </tr>
                            <tr ng-show="!request.requestType.timeBased"><td><span>Resumption Date:</span><span class="is-required"> *</span></td><td>
                                <input type="text" class="form-control unblock" datepicker-popup="EEE,dd MMM yyyy" ng-model="request.resumptionDate" is-open="outEnd" ng-required="!request.requestType.timeBased" close-text="Close" />
                                <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'outEnd')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </td></tr>
                            <tr><td><span>Department:</span><span class="is-required"> *</span></td><td><input class="form-control" ng-model="employee.department.name" readonly type="text" required ng-required="true"/> </td></tr>
                            <!--<tr><td><span>H R Comment:</span><span class="is-required"> *</span></td>-->
                                <!--<td><input name="hrcomment" type="text" data-ng-model="request.hrcomment" id="hrcomment" class="form-control" required></td>-->
                            <!--</tr>-->

                        </table>
                        <div class="col-xs-12" ng-show="request.requestType.name == 'Others'">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3 class="panel-title">Out of Office Details<span class="is-required"> *</span></h3></div>
                                <div class="panel-body">
                                    <textarea required class="form-control extra" ng-required="request.requestType.name == 'Others'" rows="3" cols="20" ng-model="request.details"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <button class="btn btn-default" ng-click="saveRequest()" ng-disabled="form.$invalid || savingData"  ng-bind="savingData? 'Making Request': 'Make Request'"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">

    </div>
</div>