<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Out of Office Request<a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'">{{}}</a></h3></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Request Information</h3></div>
            <div class="panel-body">
                <div data-ng-include="'pages/message-alert-modal.html'"></div>
                <table class="table table-responsive">
                    <tr><td>Name:</td><td ng-bind="req.name"></td></tr>
                    <tr><td>Department:</td><td ng-bind="req.department"></td></tr>
                    <tr><td>Designation:</td><td ng-bind="req.designation"></td></tr>
                    <tr><td>Date of Request:</td><td ng-bind="req.dateCreated|date: 'mediumDate'"></td></tr>


                    <tr><td>Request Type:</td><td ng-bind="req.type"></td></tr>

                    <tr><td>Effective Date:</td><td ng-bind="req.date| date: 'mediumDate'"></td></tr>
                    <tr><td ng-bind="'Resumption'+(req.resumptionTime? ' Time': ' Date')+':'">Resumption:</td><td ng-bind="req.resumptionTime?(req.resumptionTime|date: 'shortTime'): req.resumptionDate|date:'short'"></td></tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div align="center">
                <input value="Approve Request" class="btn btn-default" type="button" ng-click="approve()" >
                <input value="Decline Request" class="btn btn-default" type="button" ng-click="decline()" >
            </div>
        </div>
    </div>
</div>