body {
    padding: 20px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-width: 700px;
    background-image: url("../images/homepage/scgn-bg-e.jpg");
    background-attachment: fixed;

}
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
.body-login {
    padding-top: 20px;
    background-image: url("../images/login-p-bg.png");
    min-width: 450px;
}

@media print {
    .print-content{
        display: block;
    }

    .non-printable{
        display: none;
    }

    /*.modal{*/
        /*position: absolute;*/
        /*left: 0;*/
        /*top: 0;*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*min-height: 550px;*/
    /*}*/
}


a {
    color: #00B7FF;
}

    a.navbar-brand {
        max-height: 50px;
    }

.login {
    width: 353px;
    height: 403px;
    margin:auto;
    background-image: url("../images/login-bg.png");

}

.slogan {
    font-size: 9pt;
    font-family: 'Tahoma';
    color: #FFFDFD;
}

.page {
    margin-top: 32px;
}

.login-container {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.login form {
    text-align: -webkit-left;
    padding: 10px 15px;
    border-radius: 50%;
    background: aliceblue;
    /*background: url('../images/user.png') no-repeat;*/
}

.login .form-group {
    margin-bottom: 10px;
}

.companyNameTitle {
    font-weight: bold;
    color: #ccc !important;
    font-family: serif;
    font-size: 2rem;
}

.login form input {
    height: 23px;
    width: 309px;
    border: 1px solid #C0C0C0;
    padding: 1px 4px;
}

.login .forget {
    color: #c0c0c0;
    font-size: 13px;
}

.login label {
    color: #808080;
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
}

.is-required, .login .is-required {
    content: "*";
    color: #FF0000;
    vertical-align: baseline;
}

.login .padding {
    padding: 10px;
}

.margin10top {
    /*margin-top: 10px;*/
}

.padding10Top {
    padding-top: 10px;
}

span.unblock {
    display: inline-block;
}

input.unblock {
    float: left;
}

span.unblock button {
    padding: 6px;
}

.modal span.unblock button {
    padding: 6px;
}

.form-control.unblock {
    width: 80%;
    margin-right: 2px;
}

.empData table {
    border-left: none;
}

.empData td:first-child {
    width: 35%;
    font-weight: bold;
    font-family: Arial, Verdana, Tahoma;
    font-size: 10pt;
}

.empData .form-control {
    width: 80%;
}

.font16 {
    font-size: 20px;
}


.empData textarea, textarea.empData, textarea.no-resize {
    resize: none;
}

.empData .form-control.extra {
    width: 100%;
    margin-bottom: 10px;
}

.modal-backdrop {
    bottom: 0;
}

.cashlist > tbody > tr > td, .cashlist > tbody > tr > th,
.cashlist > tfoot > tr > td, .cashlist > tfoot > tr > th,
.cashlist > thead > tr > td, .cashlist > thead > tr > th {
    padding: 0;
}

.cashlist > thead > tr:first-child {
    background-color: #f9f9f9;
}

    .cashlist > thead > tr:first-child > td, .cashlist > thead > tr:first-child > th {
        padding: 6px 0;
    }

td a.btn {
    padding: 2px 2px;
}

.cashlist .panel-body {
    padding: 8px;
}

.widget {
    float: left;
    width: 75%;
}

@media only screen and (max-width: 1350px) {
    .widget {
        width: 50%;
    }
}

.landing .panel-body {
    height: 333px;
}

.leave {
    padding-left: 3px;
    padding-right: 3px;
}

    .leave .panel {
        border: none;
        box-shadow: none;
    }

    .leave .panel-body {
        padding: 0;
    }

.noBorder {
    border: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.noPadding table {
    border: none;
}
/*
.noPadding table tbody td:first-child,.noPadding table tbody th:first-child{
    border-left: none;
}
.noPadding table tbody td:last-child{
    border-right: none;
}
*/
.Padding3Side {
    padding-left: 3px;
    padding-right: 3px;
}

.clickable {
    cursor: pointer !important;
}

tr.clickable:hover {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.switcher {
    padding: 100px 0 0 0 !important;
    width: 20px;
    text-align: -webkit-center;
}

.text-red {
    color: #FA0600;
}

.text.grey {
    color: gray;
}

.leaveEvent, .holidayEvent, .trainingEvent {
    font-size: 14px !important;
}

.leaveEvent {
    color: #000011 !important;
    background-color: salmon !important;
}

.trainingEvent {
    background: #C2BB12 !important;
}

.casualEvent {
    background: #4d3bbf !important;
}

.sickEvent {
    background: #f20a0a !important;
}

.annualEvent {
    background: #008080 !important;
}

.parentingEvent {
    background: #b12bb1 !important;
}

.kra-list {
    border: 1px silver solid;
    height: 304px;
    overflow: auto;
    list-style-type: none;
    -webkit-padding-start: 10px;
}

.kra-area {
    max-width: 200px;
}

    .kra-area label {
        width: auto;
    }

    .kra-area input {
        display: inline-block;
    }

.kra-area-header {
    color: #993333;
    font-weight: bold;
    cursor: pointer;
}

.kra-settings {
    font-size: 13px;
    line-height: 20px;
}

.kra-setting-sub {
}

.kra-settings > p {
}

.kra-settings .content {
    padding: 0 5px;
}

    .kra-settings .content .restrict, .restrict {
        max-height: 550px;
        height: 450px;
        overflow: auto;
    }

    .kra-settings .content .table > tbody > tr > td, .kra-settings .content .table > tbody > tr > th, .kra-settings .content .table > tfoot > tr > td, .kra-settings .content .table > tfoot > tr > th, .kra-settings .content .table > thead > tr > td, .kra-settings .content .table > thead > tr > th {
        padding: 1px 5px;
    }

    .kra-settings .content .table {
        margin-bottom: 0;
    }

    .kra-settings .content .kra-header, .header-bg {
        background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
        background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
        background-repeat: repeat-x;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

accordion.kra-settings-sub {
    padding: 1px 1px;
}

    accordion.kra-settings-sub .panel-body {
        margin-bottom: 0;
        padding: 3px;
    }

        accordion.kra-settings-sub .panel-body .list-group {
            margin-bottom: 0;
        }

            accordion.kra-settings-sub .panel-body .list-group a.list-group-item:focus, accordion.kra-settings-sub .panel-body .list-group a.list-group-item:hover {
                color: #555;
                text-decoration: none;
            }

.form-control.scoring input[type='number'], input[type='number'].form-control.scoring {
    width: 50px;
    height: 35px;
    vertical-align: baseline;
    float: left;
    margin-right: 3px;
    margin-left: 3px;
    padding: 0;
}

span.scoring, .scoring span {
    padding: 8px 0;
    float: left;
}

th.editCol, td.editCol {
    text-align: -webkit-center;
    max-width: 75px;
    min-width: 75px;
}

.editCol span {
    cursor: pointer;
}

    .editCol span:first-child {
        margin-left: 5px;
        float: left;
    }

    .editCol span:last-child {
        margin-right: 5px;
        float: right;
    }

    .editCol span:first-child:hover {
        color: #7982b5;
    }

    .editCol span:last-child:hover {
        color: #f10f0f;
    }

@media (max-width: 768px) {
    .form-inline.cat .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .form-inline.cat button {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .form-inline.cat .control-label {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .form-inline.cat + {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.form-inline.cat .form-control {
    margin-top: 6px;
}

.competenceDetails > p {
    padding: 10px 6px;
    border: 1px solid #eee;
    border-bottom: none;
    margin: 0;
    display: block;
}

    .competenceDetails > p:last-of-type {
        border-bottom: 1px solid #eee;
    }

    .competenceDetails > p:first-of-type {
        border-top: none;
    }

    .competenceDetails > p > label {
        color: #1f63ff;
    }

        .competenceDetails > p > label > span {
            color: #000000;
        }

.align-center-top {
    vertical-align: middle;
    text-align: center;
}

.answer, .rating {
    color: Blue;
    font-weight: bold;
    text-decoration: underline;
}

.attStatus-header-bg {
    color: White;
    background-color: #333333;
    font-weight: bold;
}

table > tbody > tr.attStatus > td, table > thead > tr.attStatus > td {
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 1px;
}

.attStatus.pending {
    color: green;
}

.attStatus.absent, .red-bg, .absent {
    background-color: #CA0808;
    color: #E0E0E0;
}

.attStatus.late, .blue-bg, .late {
    background-color: #3C4476;
    color: #EAE6E6;
}

.grey-bg, .onleave {
    background-color: #C9C5CB;
    color: #030303;
}

.attStatus.ontime, .yel-bg, .ontime {
    background-color: #CA9B08;
    color: #181718;
}

.quote-container {
    height: 305px;
    overflow: hidden !important;
    padding-top: 18px;
}

.note {
    color: #333;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 8px;
    font-family: Satisfy;
    font-size: 28px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

    .note .author {
        display: block;
        margin: 4px 0 0 0;
        text-align: right;
        font-size: 20px;
    }
    .note img{
        width: 100%;
    }

.note-bg {
    background: #eae672;
    /*background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
    color: #333;
    background-color: #f5f5f5;*/
    border-color: #ddd;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    border-bottom-right-radius: 60px 50px;
}

    .note-bg .title {
        text-decoration: underline;
        color: #CA2626;
        font-size: 22px;
        text-align: -webkit-center;
    }

.pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -8px;
    z-index: 1;
}

    .pin:after {
        background-color: #A31;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1), inset 3px 3px 3px hsla(0,0%,100%,.2), inset -3px -3px 3px hsla(0,0%,0%,.2), 23px 20px 3px hsla(0,0%,0%,.15);
        content: '';
        height: 12px;
        left: -5px;
        position: absolute;
        top: -10px;
        width: 12px;
    }

    .pin:before {
        background-color: hsla(0,0%,0%,0.1);
        box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
        content: '';
        height: 24px;
        width: 2px;
        left: 0;
        position: absolute;
        top: 8px;
        -moz-transform: rotate(57.5deg);
        -webkit-transform: rotate(57.5deg);
        -o-transform: rotate(57.5deg);
        -ms-transform: rotate(57.5deg);
        transform: rotate(57.5deg);
        -moz-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

.selectedSub {
    background-color: #7F19B3;
    color: white;
    margin-right: 10px;
}

.selectedfSub {
    background-color: #a724b3;
    color: white;
    margin-right: 10px;
}

.kra-list li[selected], .kra-list input[checked] {
    background-color: #8118B5;
    color: white;
    padding: 4px;
}

.kra-list li label span {
    vertical-align: middle;
}

.disabledSub {
    cursor:not-allowed;
    opacity: 0.5;
}
.disabledSub input, .disabledSub label{
    pointer-events: none;
}
.carousel-indicators {
    display: none;
    top: auto;
    bottom: auto;
}

a.carousel-control {
    display: none;
}
.carousel-caption{
    position:initial !important;;
}
.carousel-inner {
    overflow: initial;
}
.has-pointer{
    cursor: pointer;
}
.change-btn{
    color: #337ab7;
    border-color: transparent;
    cursor: pointer;
    display: block;
}
.change-btn:hover{
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.btn-file {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
}
.user-profile-picture {
    /*min-height: 150px;*/
    /*max-height: 150px;*/
    width: 112px; height: 113px;
}
.auto-height{
    height: auto;
}

/*noinspection ALL*/
.floating-rays{
    width: 50px;
    vertical-align: -webkit-baseline-middle;
}

.form-control.disabled{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
span.form-control> .caret {
    position: relative;
    height: 10px;
    top: 50%;
    right: -6px;
    margin-top: -2px;
    margin-left: 0;
}

.report-coll{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: 30px auto;
    grid-auto-flow: row;
    grid-gap: 5px;
    margin: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.report-coll div{
    margin-left: 15px;
}

/*
        text-danger-color: #a94442;
        text-primary-color: #337ab7;
        text-info-color: #afd9ee;
        text-warning-color: #fcf8e3;
        text-success-color: #3c763d;

 */


.no-report{
    color: #a94442;
    font-weight: bold;
    font-family: serif;
    padding-left: 30px;
}

.no-books{
    font-weight: bold;
    font-family: serif;
    text-align: center;
    font-size: 2rem;
    color: #a94442;
}

.parent-inherited{
    background-color: inherit !important;
}
.donation-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    grid-gap: 20px;
    grid-auto-flow: column;
}

.donation-body>div{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donation-title{
    font-size: 5rem;
    font-family: serif;
    margin-bottom: 10px;
    color: white;
}
.donation-buttons{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.donation-buttons button{
    margin-left: 40px;
}

.donation-body .count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(244, 255, 238, 0.24);
}

.donation-body span:not(.count){
    background-color: inherit;
    padding: 20px 10px;
    display: flex;
    font-size: 1.2rem;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
}

.my-btn-info{
    background-color: #d9edf7 !important;
    color: #306e8d !important;
}
.my-btn-success{
    background-color: #dff0d8 !important;
    color: #ee4343 !important;
    border-color: #beb7b7;
}
.my-btn-warn{
    background-color: rgb(255, 89, 89) !important;
    color: white !important;
    /*border-radius: 20px;*/
}

.book-view{
    background-color: #f5f5f5;
    /*background-color: rgba(255, 200, 224, 0.37);*/
    padding: 20px;
    font-size: .8rem;
    font-family: serif;
}
.book-view .book-title{
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #c22a2a;
    padding-bottom: 10px;
}


.book-view .book-cover{
    /*text-align: center;*/
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.book-view .book-cover img{
    max-width: 100%;
    max-height: 300px;
    display: block;
}
.book-view .book-details tr>td:first-child{
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.1rem;
    text-align: right;
    padding-right: 20px;
    width: 45%;
    border-left: none;
}

/*.book-view .book-details tr>td:nth-child(2n){*/
    /*vertical-align: bottom;*/
    /*color: lime;*/
/*}*/

.book-view .book-details tr>td:last-child{
    padding-left: 20px;
    border-right: none;
}

.book-view .book-details table {
    border-left: none;
}

/* Landing page styles */
.scgn-homepage{
    display: grid;
    /*!**!background-color: lime;*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-row-gap: 1vh;
    grid-template-areas: "header header header"
                "body body body"
                "footer footer footer";
}

.scgn-header{
    grid-area: header;
    padding: 10px;
    display: flex;
    border-bottom: 5px dotted #f8f1f1;
}

.scgn-header .scgn-logo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scgn-header .scgn-logo img{
    max-width: 100%;
    max-height: 200px;
    width: 30% !important;
}

.scgn-header .scgn-title{
    flex: 3;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    font-size: 2rem;
    font-family: serif;
    text-transform: uppercase;
    color: #ffffff;
    /*padding-left: 30px;*/

}

.scgn-header .scgn-title>span{
    align-items: center;
    font-size: .9rem;
    font-family: serif;
    padding-left: 30px;
    text-transform: none;
    color: red;
    text-align: center;
    display: block;
}

.scgn-header .scgn-title>a{
    align-items: center;
    font-size: .9rem;
    font-family: serif;
    padding-left: 30px;
    text-transform: none;
    color: #444b8f;
    text-align: center;
    display: block;
    font-style: italic;
    /*background-color: #fbfbfe;*/
    font-weight: bold;
}

.scgn-body{
    /*background-color: #fff;*/
    min-height: 500px;
}

html{

}

.scgn-body div.scgn-card{
    background-color: rgba(65, 77, 147, 0.03);
}

@media screen and (min-width: 1199px){
    /*.scgn-body>div{*/
        /*background-color: lime;*/

    /*}*/
}

.scgn-body .scgn-card:hover{
    background-color: rgba(66, 73, 144, 0.5);
    /*background-color: #f5cfcf;*/
}

.scgn-body button, .scgn-body>div{
    transition: all .5s ease-in-out;
}
.scgn-body .scgn-card button:hover {
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #444b8f;
    color: white;
    text-align: center;
    text-decoration: none;
}

.scgn-footer{
    grid-area: footer;
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
    color: white;
}

body{
    /*color: #ffffff;*/
    color: #444b8f;
    /*background-image: url('/images/book-cover/bg-pink.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    /*z-index: 1;*/
}


body * {
    /*z-index: 5;*/
}

.scgn-cards{
    /*background-color: yellow;*/
    grid-area: body;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.scgn-card img{
    max-width: 100%;
}
.scgn-card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 1.9rem;
    color: #ffffff;
}

.scgn-card .text>button{
    width: 50px;
    height: 50px;
    outline: none;
}

.scgn-footer-companyName{
    font-style: italic;
    font-weight: bold;
    font-size: .8rem;
    font-family: serif;
    padding-left: 20px;
    color: #e13a40;
}

.scgn-login{
    /*width: 80%;*/
    /*height: 400px;*/
    line-height: 1.5;
    margin:auto;
    padding: 0 20%;
    /*background-color: pink;*/
    font-family: serif;
    background-color: #21274a !important;
    color: white !important;
}

.scgn-login .title, .scgn-donation .title, .scgn-membership .title{
    font-size: 2rem;
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
}

.scgn-login button, .scgn-donation button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #444b8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scgn-membership, .scgn-donation{
    /*width: 80%;*/
    /*height: 400px;*/
    line-height: 1.5;
    margin:auto;
    padding: 0 10%;
    /*background-color: pink;*/
    font-family: serif;
    /*background-color: #21274a !important;*/
    /*color: white !important;*/
}

.scgn-bookstore{
    grid-area: body;
    /*background-color: red;*/
    min-height: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    /*grid-template-rows: auto;*/
    grid-gap: 25px;
}

.scgn-bookstore .scgn-book{
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ecece7;
    box-shadow: 1px 1px 10px 1px black;
    transition: all .5s ease-in-out;
}

.scgn-bookstore .scgn-book:hover{
    background-color: #414d93;
    color: white;
}

.scgn-bookstore .scgn-book>div.text{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-family: serif;

}

.scgn-bookstore .scgn-book>div.bookCover>img{
    min-width: 100%;
    min-height: 100%;
    width: 200px;
    height: 400px;
    background-color: #ecece7;

}


.scgn-bookstore .scgn-book>div.text{
    padding: 10px;
}

.scgn-membership{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: serif;
}

.scgn-membership>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*align-items: center;*/
    margin: 10px;
}
.scgn-membership>div.title {
    display: flex;
    padding: 10px;
    /*width: 100%;*/
    background-color: #fbfbfe;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 10px;
    border-bottom: none;
}
.scgn-membership div.scgn-buttons div {
    /*display: flex;*/
    /*flex-basis: 32%;*/
    width: 100%;
    background-color: #fbfbfe;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 10px 0px;
    min-height: 500px;
}

.scgn-tne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    /*font-size: 1.5rem;*/
}

.scgn-tne>div{
    background-color: #fbfbfe;
    padding: 10px;
}
.scgn-tne>div:nth-child(2){
    /*background-color: #fbfbfe;*/
    min-height: 400px;
}

.scgn-box-shadow{
    font-family: serif !important;
    padding: 10px 15px !important;
    font-weight: bolder !important;
    box-shadow: 0px 0px 5px 2px #aaa !important;
}

textarea{
    resize: none;
}

div[class~="detailview"]{
    background-color: #e8e8e8 !important;
    color: black !important;
    /*background-image: linear-gradient(top,#f5f 0,#e8e8e8 100%) !important;*/
}

.details tr>td:first-child, .details label{
    font-family: serif;
    background-color: #ccc;
    text-align: right;
    padding-right: 5px;
    border: 1px dotted white;
    font-size: 1.2em;
    color: #050340;
}
.details tr>td:last-child{
    vertical-align: bottom;
}
.scgn-receipt .details tr>td:last-child{
    vertical-align: bottom;
    color: white !important;
    background-color: #6b6594 !important;
}

.my-red-text{
    color: red !important;
    font-family: serif !important;
    font-weight: bold !important;
    padding-bottom: 5px;

}

.scgn-base-col1{
    color: #ffffff !important;
    /*color: #414d93 !important;*/
    font-family: serif !important;
    font-weight: bold !important;
    padding-bottom: 5px;
}

.scgn-base-col2{
    color: #e13a40  !important;
    font-family: serif !important;
    font-weight: bold !important;
    padding-bottom: 5px;
}

.my-title-text, .left-a>span:first-child{
    color: lime !important;
    font-family: serif !important;
    font-weight: bold !important;
    padding-bottom: 5px;
    display: block;


}

.modal .panel-title{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
    font-family: serif !important;
    color: #050340 !important;
    font-size: 1.5rem !important;
}

.scgn-tne .tne-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    /*background-color: hotpink;*/

}
.scgn-tne .tne-content>.card{
    display: grid;
    grid-template-columns: 2fr 3fr ;
    box-shadow: 0px 0px 10px #050340;
    grid-gap: 10px;
    background-color: #414d93;
    font-family: serif;


}

.scgn-tne .left{
    display: flex;
    flex-direction: column;
}

.scgn-tne .left-a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 1.5rem;
    border-radius: 10%;
    background-color: #fbfbfe;
    margin: 5px;
}

.scgn-tne .right{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    /*grid-gap: 5px;*/
    font-size: 1.2rem;
    /*justify-items: center;*/
    align-items: center;
    padding: 10px;
    background-color: #fbfbfe;


}

.scgn-tne .right>div{
    background-color: #fff;
    padding: 10px;
    border-bottom: 10px dotted #dfe4e0;
}

.modal-content{
    background-color: #ebebeb !important;
}

.scgn-alert-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*background-color: hotpink !important;*/

}
.scgn-alert-div>div{
    /*width: 50%;*/
    /*flex: 1;*/
}
.scgn-alert-msg div.alert{
    /*padding: 20px 5px;*/
    /*flex: 1;*/
    /*width: 100%;*/

}

nav.navbar.navbar-default.navbar-static-top{
    margin-bottom: 10px !important;
}

.pub-membership{
    display: flex;
}

/*.pub-membership>div:last-child{*/
    /*padding-left: 20px;*/
    /*background-color: yellow;*/
/*}*/

.pub-membership>div.left{
    flex: 1;
}
.pub-membership>div.right{
    flex: 3;
    padding-left: 20px;
    background-color:yellow;
}

.parent-display{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.parent-display .colItem{
    flex: 1;
}

.parent-display p:first-child{
    background: #e6e6e6;
    padding: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

.my-scgn-bg{
    background-color: #e6e6e6;
    padding: 10px;
}

.scgn-pub-profile-details td:first-child{
    font-family: serif;
    background-color: #e6e6e6;
    /*text-align: right;*/
    /*padding-right: 5px;*/
    border: 1px dotted white;
    font-size: 1.2em;
    /*color: #050340;*/
}

.scgn-badge{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ff0000;
    /*background-color: yellow;*/
}

.scgn-cart{
    padding: 20px 20px 20px 10px;
    background-color: #e6e6e6;
    margin: 10px 0px;
    border-radius: 4px;
    /*box-shadow: 0px 0px 10px 20px #fff;*/
}
.scgn-cart span:not(.start){
    margin-right: 15px;
    /*background-color: yellow;*/
    font-family: monospace;
    font-size: 1.2rem;
}

.scgn-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

.scgn-display-1{
    font-size: 5rem;
}
.scgn-display-2{
    font-size: 3.5rem;
}
.scgn-display-3{
    font-size: 2.5rem;
}
.scgn-display-4{
    font-size: 2rem;
}
.scgn-display-5{
    font-size: 1.5rem;
}

.m-1{
    margin: 10px;
}
.mb-1{
    margin-bottom: 10px;
}
.mr-1{
    margin-right: 20px;
}
.mr-2{
    margin-right: 10px;
}
.m-2{
    margin: 5px;
}
.mb-2{
    margin-bottom: 5px;
}

.p-1{
    padding: 10px;
}
.pb-1{
    padding-bottom: 10px;
}
.p-2{
    padding: 5px;
}
.pb-2{
    padding-bottom: 5px;
}
.pr-1{
    padding-right: 10px;
}
.pr-2{
    padding-right: 5px;
}
.pl-1{
    padding-left: 10px;
}
.pl-2{
    padding-left: 5px;
}

.scgn-receipt-bg{
    /*background-color: rgba(58, 225, 100, 0.06);*/
    background-color: rgb(107, 101, 148);
}

scgn-receipt .table>tbody>tr>td{
    vertical-align: bottom !important;
}

.scgn-col-outline{
    color: lime !important;
    font-family: serif;
    font-weight: bold;
}

.scgn-mbr{
    background-image: url("../images/homepage/bg-team.jpg");
    background-attachment: fixed;
}

.scgn-receipt table>tr>td:nth-chlid(2n){
    color: white !important;
}