@media print {
    @page :left {
        margin: 0.5cm;
    }
    @page :right {
        margin: 0.8cm;
    }
    body {
        font: 12pt Georgia, "Times New Roman", Times, serif;
        line-height: 1.3;
    }
    .page.container{
        padding-right: 2px!important;
        padding-left: 2px!important;
        width: 90% !important;
        /*margin-right: 0!important;*/
        /*margin-left: 0!important;*/
    }


}
