<div class="panel panel-default kra-settings margin10top">
    <div class="panel-heading">
        <h3 class="panel-title">KRA Appraisal for Subordinate
            <a class="btn btn-link pull-right" href="" ng-click="back()">Back</a>
        </h3>
    </div>
    <div class="panel-body">
        <div ng-if="!sub.appraised">
            <div data-ng-include="'pages/message-alert-modal.html'"></div>
            <div class="row">
                <div class="pull-left">
                    <div class="pull-left" style="margin: 5px">
                        <img ng-src="img/{{sub.emp.employeeId}}.jpg" width="112" height="113"></div>
                    <div class="pull-right" style="margin: 5px; height: 113px;">
                        <div><font face="Tahoma" size="6" ng-bind="sub.emp.name"></font></div>
                        <div><font face="Tahoma" size="3" color="#CCCCCC" ng-bind="sub.emp.desig"></font></div>
                        <div><font face="Tahoma" style="font-size: 12.5pt" color="#333333" ng-bind="sub.emp.dept"></font></div>
                    </div>
                </div>
            </div>
            <hr/>
            <form name="subKraForm">

                <table class="table table-bordered">
                    <thead>
                    <tr class="header-bg">
                        <td style="padding:12px;font-size: 15px;">KRA Category and Achievements</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="sub.emp.dept == 'Counsel'">
                        <td>
                            <div style="color:#336699;font-weight:bold;">
                                <span style="color:#336699;font-weight:bold;" ng-bind="'Leads Generated:'"></span> <br/>
                                <div>
                                    <p ng-if="!sub.leads.count" class="leads-count" ng-bind="'No leads entered.'"></p>
                                    <p ng-if="sub.leads.count == 0" class="leads-count" ng-bind="'No leads generated.'"></p>
                                    <p ng-if="sub.leads.count && sub.leads.count != 0" class="leads-count" ng-bind="sub.leads.count + ' leads generated.'"></p>
                                    <p ng-if="sub.leads.explanation" style="margin: 4px auto;border-top: 1px solid #eee;border-bottom: 1px solid #eee;">
                                        <span class="col-xs-8"ng-bind-html="sub.leads.explanation.renderLineBreak()"></span>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="(area,kras) in sub.kras">
                        <td>
                            <div class="kra-appraisal-area">
                                <span class="kra-appraisal-area" ng-bind="area + ':'"></span> <br/>
                                <div ng-repeat="item in kras" ng-init="ind = $index;item.includeArc = false; ">
                                    <p class="kra-appraisal" ng-bind="item.details.kra"></p>
                                    <p ng-if="item.achievement && item.includeArc" class="animate black kra-achievement" ng-bind="item.achievement"></p>
                                    <p style="margin: 4px auto;text-align:-webkit-center;">
                                        <a class="col-md-4 btn btn-link" ng-click="item.includeArc = !item.includeArc;"
                                           ng-if="item.achievement" ng-bind="item.includeArc?'Hide Achievement':'View Achievements'"></a>
                                        <span class="col-md-4" ng-if="!item.achievement">No Achievements added</span>
                                    <div class="col-md-8">
                                        <label ng-repeat="g in globals.constants.appLevels" class="radio-inline">
                                            <input type="radio" ng-required="true" ng-model="$parent.sub.kras[area][ind].scoring.text" value="{{g}}">
                                            <span ng-bind="' ' + g"></span>
                                        </label>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>
                            <label class="control-label">Supervisor Comment</label>
                            <textarea class="form-control no-resize" data-ng-model="sub.comment" ng-minlength="10" required placeholder="Please enter your comment on the evaluation. Minimum of 10 Characters" rows="2"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <button type="button" class="btn btn-default"
                                    ng-disabled="subKraForm.$invalid || savingSubKra" ng-click="appraiseSubKra()"
                                    ng-bind="savingSubKra?'Submiting Assessment':'Submit'"></button>
                            <button type="button" class="btn btn-default" ng-click="back()">Cancel</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
        <div ng-if="sub.appraised">
            <div class="row">
                <div class="pull-left">
                    <div class="pull-left" style="margin: 5px"><img src="images/profile.png" width="112" height="113">
                    </div>
                    <div class="pull-right" style="margin: 5px; height: 113px;">
                        <div><font face="Tahoma" size="6" ng-bind="sub.emp.name"></font></div>
                        <div><font face="Tahoma" size="3" color="#CCCCCC" ng-bind="sub.emp.desig"></font></div>
                        <div><font face="Tahoma" style="font-size: 12.5pt" color="#333333"
                                   ng-bind="sub.emp.dept"></font></div>
                        <div><font face="Tahoma" style="vertical-align:-webkit-baseline-middle;font-size: 24px" ;
                                   color="{{scoring[sub.text] || '#333333'}}"
                                   ng-bind="sub.text + ' Performance ( ' + sub.score +')'"></font></div>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table table-bordered">
                <thead>
                <tr class="header-bg">
                    <td style="padding:12px;font-size: 15px;"
                        ng-bind="'KRA Category' + (sub.appraised?', Ratings, ':'') + ' and Achievements'"></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="sub.leads">
                    <td>
                        <div style="color:#336699;font-weight:bold;">
                            <span style="color:#336699;font-weight:bold;font-size:22px" ng-bind="'Leads Generated:'"></span>
                            <br/>
                            <div>
                                <p style="margin: 5px; color:black;">
                                    <span ng-bind="sub.leads.count + ' leads'"></span>
                                </p>
                                <p class="kra-achievement-entered" ng-if="sub.leads.explanation" ng-bind-html="sub.leads.explanation.renderLineBreak()"></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="(area,kras) in sub.kras">
                    <td>
                        <div style="color:#336699;font-weight:bold;">
                            <span style="color:#336699;font-weight:bold;font-size:22px" ng-bind="area + ':'"></span>
                            <br/>
                            <div ng-repeat="item in kras" ng-init="ind = $index;item.includeArc = false; ">
                                <p class=".kra-appraisal" ng-bind-html="item.details.kra.renderLineBreak()"></p>
                                <p style="margin: 5px; color:black;">
                                    <span ng-bind="item.scoring.text"></span>
                                </p>
                                <p class="kra-achievement-entered" ng-if="item.achievement" ng-bind-html="item.achievement.renderLineBreak()"></p>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center">
                        <span class="col-sm-4" ng-bind="'Date: ' + (sub.date|date: 'mediumDate')"></span>
                        <span class="col-sm-4" ng-bind="'By ' + sub.by"></span>
                        <span class="col-sm-4" ng-bind="sub.text + ' Performance'"></span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<style>
    .leads-count{
        -webkit-padding-start: 20px;
        color:GrayText;
        margin: 4px auto;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .kra-appraisal{
        color:GrayText;
        margin: 4px auto;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .kra-achievement{
        font-size:12px;color:black;margin: 7px auto;border-bottom: 1px solid #eee;
    }
    .kra-achievement-entered{
        font-size:12px;
        color:maroon;
        margin: 7px auto;
        border-bottom: 1px solid #eee;
    }
    .kra-appraisal-area{
        color:#336699;font-weight:bold;
    }
</style>