<div class="donation-dashboard">
    <div class="donation-title">
        Donation Dashboard
    </div>
    <div class="donation-buttons">
        <button ng-click="offlineDonation('new')" class="btn scgn-box-shadow btn-sm text-success">Offline Donation</button>
    </div>
    <div class="donation-body">
        <div class="donation-quarter">
            <span class="count" ng-bind="details.quarter"></span>
            <span>Quarter</span>
        </div>
        <div class="donation-total">
            <span class="count" ng-bind="details.total"></span>
             <span>Donations</span>
        </div>
        <div class="donation-offline">
            <span class="count" ng-bind="details.offline"></span>
            <span>Offline Donations</span>
        </div>
        <div class="donation-online">
            <span class="count" ng-bind="details.online"></span>
            <span>Online Donations</span>
        </div>
    </div>
</div>

<script id="pages/donation/new.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-bind="(newBook._id ? 'Edit':'New') + ' Donation'"></span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3></div>
        <div class="panel-body">
            <form name="offlineDonation" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2">Donation Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Amount</td>
                        <td><input class="form-control" ng-model="donation.amount" type="number" ng-required="true" min="0"/></td>
                    </tr>
                    <tr>
                        <td>Mode</td>
                        <td><select ng-model="donation.mode"
                                    ng-options="i for i in mode" class="form-control"
                                    ng-required="true"></select></td>
                    </tr>
                    <tr>
                        <td>Benefactor's Name</td>
                        <td><input class="form-control" ng-model="donation.benefactor.name" type="text" ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Benefactor's Email</td>
                        <td><input class="form-control" ng-model="donation.benefactor.email" type="email"/></td>
                    </tr>
                    <tr>
                        <td>Benefactor's Phone</td>
                        <td>
                            <input class="form-control" ng-model="donation.benefactor.phone" type="phone"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Benefactor's Remark</td>
                        <td>
                            <select ng-required="true" ng-model="donation.remark" style="" class="form-control">
                                <option ng-repeat="r in scgnRemarks">{{r}}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="makeOfflineDonation()" ng-disabled="offlineDonation.$invalid || savingNewBook"
                                    class="btn btn-default" ng-bind="savingDonation? 'Saving Donation': 'Save Donation'">Save
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>


<script type="text/javascript">
    $('.donation-dashboard').parent('div').addClass('parent-inherited');
//    console.log('done!');
</script>