<div class="view-donations">
    <div class="donation-title">
        Donation List
    </div>
    <div class="donation-list">
        <table class="table table-bordered table-hovered table-striped"
               style="background-color: #eaf1e2;">
            <tr class="text-center" style="color: #444b8f;font-size: 1.2rem; font-family: serif;background-color: #c3c7bf;">
            <th style="text-align:center;color:red;">#</th>
            <th width="" style="text-align: center;">Mode</th>
            <th width="" style="text-align: center;">Benefactor's Name</th>
            <th width="" style="text-align: center;">Amount (&#x20a6;)</th>
            <th width="" style="text-align: center;">Date</th>
            <th width="" style="" class="text-center">Remark</th>
            </tr>
            <tbody style="color: #000;">
            <tr dir-paginate="d in donations | itemsPerPage: 10" class="text-center">
                <td style="color:red;" class="text-center">{{$index + 1}}</td>
                <td style="padding: 5px;">{{d.mode}}</td>
                <td style="padding: 5px;">{{d.benefactor.name}}</td>
                <td style="padding: 5px;" class="text-right">{{d.amount | number: 2}}</td>
                <td style="padding: 5px;">{{d.createdOn | date: 'fullDate'}}</td>
                <td style="" class="text-left">{{d.remark | limitTo: 50}}</td>
            </tr>
            <tr>
                <td colspan="6">
                    <dir-pagination-controls></dir-pagination-controls>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="no-books" ng-if="donations.length == 0">
            No Donation To Display
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.view-donations').parent('div').addClass('parent-inherited');
//    console.log('done!')
</script>