<div class="panel panel-default empData" ng-controller="weeklyReportCtrl">
    <div class="panel-heading">
        <h2 class="panel-title font16" style="padding-bottom: 10px;">Weekly Reports
            <button class="btn btn-default pull-right" ng-click="weeklyReport({ id: user.employeeId}, 'report')">Send
                Weekly Report
            </button>
        </h2>
    </div>
    <div class="panel-body">
        <h2><i class="fa fa-user"></i> Own Reports</h2>
        <div>
            <details ng-repeat="report in reports.ownReports" ng-open="dept.length > 0">
                <summary class="kra-area-header" style="color:#333; padding: 5px 0;"><span
                        ng-bind="report._id.year + '/' + report._id.month "></span></summary>
                <div class="report-coll" >
                    <div class="" ng-repeat="t in report.reports | orderBy: '-date'">
                        <button class="btn btn-sm btn-info" ng-click="viewReport([t.title,t.report,t.date])">Report
                            {{$index + 1}}
                        </button>

                    </div>
                </div>
            </details>
            <div class="no-report" ng-if="reports.ownReports.length == 0">
                No Reports
            </div>

        </div>
        <hr>
        <h2><i class="fa fa-users"></i>Subordinate Reports</h2>
        <div>
            <details ng-repeat="report in reports.supervisorReports" ng-open="dept.length > 0">
                <summary class="kra-area-header" style="color:#333; padding: 5px 0;"><span
                        ng-bind="report.year + '/'+report.month"></span></summary>
                <details ng-repeat="r in report.reports" ng-open="dept.length > 0">
                    <summary class="kra-area-header" style="color:#333; padding: 5px 0; padding-left: 20px;"><span
                            ng-bind="r.employee.lastName + ', ' + r.employee.firstName "></span>
                    </summary>
                    <div class="report-coll" >
                        <div class="" ng-repeat="p in r.reports | orderBy: '-date'">
                            <button class="btn btn-sm btn-info" ng-click="viewReport([p.title,p.report,p.date])">Report
                                {{$index + 1}}
                            </button>

                        </div>
                    </div>
                </details>
            </details>
            <div class="no-report" ng-if="reports.supervisorReports.length ==0">
                No Reports
            </div>
        </div>
    </div>
</div>