<style class="ng-scope">
    thead {
        background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
        background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
        background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
        background-repeat: repeat-x;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
</style>
<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title">Employee Leave Allocation<a class="btn btn-link pull-right"
                                                                                   type="button" ng-click="allocate()">Allocate
        Levels</a></h3></div>
    <p ng-if="!employees" class="text-center panel-body" ng-bind="'loading employees...'"></p>
    <div ng-if="employees && employees.length > 0" ng-include="'pages/emp-leave-summary.html'"></div>
    <p ng-if="employees && employees.length == 0" class="text-center panel-body" ng-bind="'No employee found'"></p>

</div>

<script id="pages/emp-leave-summary.html" type="text/ng-template">
    <div class="panel-body">
        <table class="table">
            <tr>
                <td width="50%"><label class="control-label pull-right">Select Employee</label></td>
                <td width="50%">
                    <select required ng-model="selectedEmp" ng-change="empChanged(i)"
                            ng-options="(i.firstName +' '+ i.lastName) for i in employees|orderBy:['firstName','lastName'] track by i._id"
                            style="width: 50%" class="form-control pull-left"></select></td>
            </tr>
        </table>
        <div class="panel panel-default noPadding noBorder">
            <div class="panel-heading"><h2 class="panel-title">Leave Balance Summary</h2></div>
            <div class="panel-body Padding3Side">
                <div class="col-md-12 Padding3Side">
                    <div class="col-md-3 col-sm-6 leave">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h2 class="panel-title">Annual Leave</h2></div>
                            <div class="panel-body noPadding">
                                <table class="table table-bordered table-condensed table-responsive">
                                    <tbody>
                                    <tr>
                                        <th width="50%">Entitlement:</th>
                                        <td>{{selectedEmp.leaveStatus.annual.entitlement}}</td>
                                    </tr>
                                    <tr>
                                        <th>Taken this Year:</th>
                                        <td>{{selectedEmp.leaveStatus.annual.taken}}</td>
                                    </tr>
                                    <tr>
                                        <th>Remaining:</th>
                                        <td class="text-red">{{selectedEmp.leaveStatus.annual.entitlement -
                                            selectedEmp.leaveStatus.annual.taken}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 leave">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h2 class="panel-title">Casual Leave</h2></div>
                            <div class="panel-body noPadding">
                                <table class="table table-bordered table-condensed table-responsive">
                                    <tbody>
                                    <tr>
                                        <th width="50%">Entitlement:</th>
                                        <td>{{selectedEmp.leaveStatus.casual.entitlement}}</td>
                                    </tr>
                                    <tr>
                                        <th>Taken this Year:</th>
                                        <td>{{selectedEmp.leaveStatus.casual.taken}}</td>
                                    </tr>
                                    <tr>
                                        <th>Remaining:</th>
                                        <td class="text-red">{{selectedEmp.leaveStatus.casual.entitlement -
                                            selectedEmp.leaveStatus.casual.taken}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 leave">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h2 class="panel-title">Sick Leave</h2></div>
                            <div class="panel-body noPadding">
                                <table class="table table-bordered table-condensed table-responsive">
                                    <tbody>
                                    <tr>
                                        <th width="50%">Total Taken:</th>
                                        <td ng-bind="selectedEmp.leaveStatus.sick.taken"></td>
                                    </tr>
                                    <tr>
                                        <th>Occasions:</th>
                                        <td ng-bind="selectedEmp.leaveStatus.sick.occassions"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 leave">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h2 class="panel-title"
                                                           ng-bind="(selectedEmp.gender == 'Male'? 'Paternity' : selectedEmp.gender == 'Female'? 'Maternity':'Parenting') + ' Leave'"></h2>
                            </div>
                            <div class="panel-body noPadding">
                                <table class="table table-bordered table-condensed table-responsive">
                                    <tbody>
                                    <tr>
                                        <th width="50%">Entitlement:</th>
                                        <td ng-bind="selectedEmp.leaveStatus.parenting.entitlement"></td>
                                    </tr>
                                    <tr>
                                        <th>Taken:</th>
                                        <td ng-bind="selectedEmp.leaveStatus.parenting.taken"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>Resumption Date</th>
                        <th>Days</th>
                        <th>Approval Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="clickable" ng-repeat="req in selectedEmp.leaveRequests">
                        <td ng-bind="(req.type != 'Parenting' || selectedEmp.gender == ''? req.type : parArray[selectedEmp.gender]) + ' Leave'"></td>
                        <td ng-bind="req.start|date:'EEE,dd MMM yyyy'"></td>
                        <td ng-bind="req.resumption|date:'EEE,dd MMM yyyy'"></td>
                        <td ng-bind="req.days"></td>
                        <td ng-bind="req.status"></td>
                        <td>
                            <span class="btn-link" ng-if="req.status == 'Approved'" ng-bind="'edit'" ng-click="editLeave(req)"></span>
                            <span class="btn-link" ng-if="['Awaiting PD\'s Approval','Awaiting PA\'s Approval', 'Pre-Approval'].indexOf(req.status) != -1" ng-bind="'respond'" ng-click="editLeave(req)"></span></td>
                    </tr>
                    </tbody>
                    <tfoot ng-if="!selectedEmp.leaveRequests.length">
                    <tr>
                        <td class="text-center" colspan="6">No records to display</td>
                    </tr>
                    </tfoot>
                </table>

                <div class="col-xs-12 empData">
                    <div data-ng-include="'pages/message-alert-modal.html'"></div>
                    <div ng-if="!eReq" ng-include="'pages/new-leave-allocation.html'"></div>
                    <div ng-if="eReq" ng-include="'pages/edit-leave-request.html'"></div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="pages/new-leave-allocation.html" type="text/ng-template">
    <form class="col-sm-7 col-md-6" name="form">
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th colspan="2">Leave Information</th>
            </tr>
            </thead>
            <tr>
                <td><span>Leave Type:</span><span class="is-required"> *</span></td>
                <td><select required ng-model="newLeave.type"
                            ng-options="((i != 'Parenting' || selectedEmp.gender == ''? i : parArray[selectedEmp.gender])+' Leave') for i in ['Annual', 'Casual', 'Sick', 'Parenting'] track by i"
                            class="form-control"></select></td>
            </tr>
            <tr>
                <td><span>Start Date:</span><span class="is-required"> *</span></td>
                <td>
                    <input type="text" class="form-control unblock" datepicker-popup="EEE,dd MMM yyyy"
                           ng-model="newLeave.start" is-open="leaveStart" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn unblock"><button type="button" class="btn btn-default"
                                                                  ng-click="open($event, 'leaveStart')"><i
                            class="glyphicon glyphicon-calendar"></i></button></span>
                </td>
            </tr>
            <tr>
                <td><span>Number of Days:</span><span class="is-required"> *</span></td>
                <td><input min="1"
                           max="{{selectedEmp.leaveStatus[newLeave.type.toLowerCase()].entitlement - selectedEmp.leaveStatus[newLeave.type.toLowerCase()].taken}}"
                           class="form-control" ng-model="newLeave.days" type="number" required ng-required="true"/>
                </td>
            </tr>
            <tr>
                <td><span>Resumption Date:</span><span class="is-required"> *</span></td>
                <td disabled>
                    <input disabled type="text" class="form-control unblock" ng-model="newLeave.resume"
                           ng-required="true"/>
                </td>
            </tr>
            <tr>
                <td><span>Contact while on Leave:</span><span class="is-required"> *</span></td>
                <td><input class="form-control" ng-model="newLeave.contact" type="text" required ng-required="true"/>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div align="center">
                <button ng-disabled="!selectedEmp || form.$invalid || submitting" ng-bind="btnText"
                        class="btn btn-default" ng-click="allocateEmpLeave(selectedEmp)"></button>
            </div>
        </div>
    </form>
</script>
<script id="pages/edit-leave-request.html" type="text/ng-template">
    <form class="col-sm-7 col-md-6" name="eform">
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th colspan="2">Edit Leave Request</th>
            </tr>
            </thead>
            <tr>
                <td><span>Leave Type:</span><span class="is-required"> *</span></td>
                <td><select required ng-model="eReq.type"
                            ng-options="((i != 'Parenting' || selectedEmp.gender == ''? i : parArray[selectedEmp.gender])+' Leave') for i in ['Annual', 'Casual', 'Sick', 'Parenting'] track by i"
                            class="form-control"></select></td>
            </tr>
            <tr>
                <td><span>Start Date:</span><span class="is-required"> *</span></td>
                <td>
                    <input type="text" class="form-control unblock" datepicker-popup="EEE,dd MMM yyyy"
                           ng-model="eReq.start" is-open="eLeaveStart" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn unblock"><button type="button" class="btn btn-default"
                                                                  ng-click="open($event, 'eLeaveStart')"><i
                            class="glyphicon glyphicon-calendar"></i></button></span>
                </td>
            </tr>
            <tr>
                <td><span>Number of Days:</span><span class="is-required"> *</span></td>
                <td><input min="1"
                           max="{{selectedEmp.leaveStatus[eReq.type.toLowerCase()].entitlement - selectedEmp.leaveStatus[eReq.type.toLowerCase()].taken + eDays}}"
                           class="form-control" ng-model="eReq.days" type="number" required ng-required="true"/></td>
            </tr>
            <tr>
                <td><span>Resumption Date:</span><span class="is-required"> *</span></td>
                <td disabled>
                    <input disabled type="text" class="form-control unblock" ng-model="eReq.resume" ng-required="true"/>
                </td>
            </tr>
            <tr>
                <td><span>Contact while on Leave:</span><span class="is-required"> *</span></td>
                <td><input class="form-control" ng-model="eReq.contact" type="text" required ng-required="true"/></td>
            </tr>
        </table>
        <div class="form-group" ng-if="eReq.status == 'Approved'">
            <div align="center">
                <button ng-disabled="!selectedEmp || eform.$invalid || submitting" ng-bind="'Update Request'"
                        class="btn btn-default" ng-click="updateLeaveRequest(eReq)"></button>
                <button ng-disabled="!selectedEmp || submitting" ng-bind="'Cancel Edit'" class="btn btn-default"
                        ng-click="cancelLeaveEdit()"></button>
            </div>
        </div>
        <div class="form-group"
             ng-if="['Awaiting PD\'s Approval','Awaiting PA\'s Approval', 'Pre-Approval'].indexOf(eReq.status) != -1">
            <div align="center">
                <button ng-disabled="!selectedEmp || eform.$invalid || submitting" ng-bind="'Approve Request'"
                        class="btn btn-default" ng-click="pdApproveLeave(eReq)"></button>
                <button ng-disabled="!selectedEmp || eform.$invalid || submitting" ng-bind="'Decline Request'"
                        class="btn btn-default" ng-click="pdDeclineLeave(eReq)"></button>
            </div>
        </div>
    </form>
</script>