<div ng-controller="msgCtrl" class="">
    <!--<div class=""></div>-->
    <div class="scgn-alert-msg">
        <alert ng-repeat="a in alerts" type="{{a.type}}" close="closeAlert($index);">
            <span ng-bind-html="a.text"></span>
        </alert>
    </div>
</div>