<div class="scgn-cards">
    <div class="scgn-card" ng-click="gotoGalery()">
        <div class="icon"><img ng-src="/images/homepage/scgn-book.png" alt="" class=""></div>
        <div class="text">Publications<br>
            <button class="btn btn-link">View</button>
        </div>
    </div>
    <div class="scgn-card" ng-click="RegisterNewMemberForm()">
        <div class="icon"><img ng-src="/images/homepage/scgn-donation.png" alt="" class=""></div>
        <div class="text">New Member ...<br>
            <button class="btn btn-link" >Click</button>
        </div>
    </div>
    <div class="scgn-card" ng-click="gotoTnE()">
        <div class="icon"><img ng-src="/images/homepage/scgn-tne.png" alt="" class=""></div>
        <div class="text">Training/Events<br>
            <button class="btn btn-link">View</button>
        </div>
    </div>
    <div class="scgn-card" style="color: yellow">
        To Support the organisation please  <span style="color: white;" class="" ng-click="donationForm()">Click here</span>
    </div>

</div>
<script id="pages/donation/online.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-bind="'Support Us'"></span><a
                class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3></div>
        <div class="panel-body">
            <form name="onlineDonation" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2">Kindly Donate to Support Us ...</th>
                    </tr>
                    </thead>
                    <tbody class="details">
                    <tr>
                        <td>Amount &#x20a6;</td>
                        <td><input class="form-control" ng-model="donation.amount" type="number" ng-required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Benefactor's Name</td>
                        <td><input class="form-control" ng-model="donation.benefactor.name" type="text"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Benefactor's Email</td>
                        <td><input class="form-control" ng-model="donation.benefactor.email" type="email"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Benefactor's Phone</td>
                        <td>
                            <input class="form-control" ng-model="donation.benefactor.phone" type="phone"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Benefactor's Remark</td>
                        <td>
                            <select ng-required="true" ng-model="donation.benefactor.remark" style="" class="form-control">
                                <option ng-repeat="r in scgnRemarks">{{r}}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="makeOnlineDonation()"
                                    ng-disabled="onlineDonation.$invalid || savingNewBook"
                                    class="btn btn-default"
                                    ng-bind="savingDonation? 'Saving Donation': 'Submit Donation'">Submit
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>
<script id="pages/membership/new-member.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-bind="'Register'"></span><a
                class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3></div>
        <div ng-include="'pages/message-alert-modal.html'"></div>
        <div class="panel-body">
            <form name="newMemberRegistration" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2">New Member</th>
                    </tr>
                    </thead>
                    <tbody class="details">
                    <tr>
                        <td>User Name</td>
                        <td><input class="form-control" ng-model="registerNewMember.userName" type="text" ng-required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input class="form-control" ng-model="registerNewMember.email" type="email"
                                   ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><input class="form-control" ng-model="registerNewMember.website" type="text"
                                   /></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input class="form-control" ng-model="registerNewMember.firstName" type="text" ng-required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <input class="form-control" ng-model="registerNewMember.lastName" type="text" ng-required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>
                            <input class="form-control" ng-model="registerNewMember.phoneNumber" type="text" ng-required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Contact Address</td>
                        <td>
                            <textarea class="form-control" ng-model="registerNewMember.contact" ng-required="true"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Registration Number (Leave Blank if not available)</td>
                        <td>
                            <textarea class="form-control" ng-model="registerNewMember.regNumber" ng-required="false"></textarea>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="saveNewRegistration()"
                                    ng-disabled="newMemberRegistration.$invalid || registering"
                                    class="btn btn-default"
                                    ng-bind="savingDonation? 'Registering': 'Register'">
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>


<script id="pages/scgn-login.html" type="text/ng-template">
    <div id="login" class="scgn-login ">
        <div class="title">
            <span>Login</span>
            <a style="color:#e13a40;" class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
                'Close'}}</a>
        </div>
        <div ng-include="'pages/message-alert.html'"></div>
        <div>
            <form method="post" name="form" class="">
                <div class="form-group">
                    <label for="username">User ID</label><span class="is-required">*</span>
                    <input class="form-control" type="text" id="username" ng-model="user.username">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label><span class="is-required">*</span>
                    <input class="form-control" type="password" id="password" ng-model="user.password">
                    <span class="help-block"></span>
                </div>
                <br/>
                <div class="form-actions">
                    <button class="btn btn-info btn-login pull-right" style="margin-right: 15px;"
                            ng-click="login()"
                            ng-disabled="form.$invalid || signingIn || !(user && user.password && user.username)"
                            ng-bind="signingIn? 'Logging In': 'Log In'">

                    </button>&nbsp;
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('.scgn-login').parent('div.modal-content').addClass('scgn-login-modal-content');
</script>
