<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Subordinate KRAs Appraisal</h3></div>
    <div class="panel-body" ng-if="data.isOpen">
        <p class="well">
            This page enables you to appraise your subordinates' KRAs. <!--The page only displays information for subordinate that has already completed their respective introspective appraisal.-->
            Click on 'appraise' link to rate subordinate
        </p>
        <table class="table table-bordered">
            <thead>
                <tr class="header-bg"><th></th><th></th><th>Name</th><th>Department</th><th>Designation</th><th>Mark(%)</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data.subs">
                    <td>{{$index + 1}}</td>
                    <td>
                        <a ng-if="row.kras.length != 0" ng-click="appraiseSub(row)" class="btn btn-link">{{row.appraised? 'View': 'Appraise'}}</a>
                        <span title="No apraisal has been configured for employee's designation" ng-if="row.kras.length == 0">No KRA</span>
                    </td>
                    <td>{{row.emp.name}}</td>
                    <td>{{row.emp.dept}}</td>
                    <td>{{row.emp.desig}}</td>
                    <td>{{row.appraised?row.text:'N\A'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body" ng-if="!data.isOpen">
        <p class="well">The appraisal time period has already elapsed. You may contact the Chief Operating Officer for an extension.</p>
    </div>
</div>




<div ng-if="isOpen && !appraisalR.appraised && appraisalA.length > 0 && lax" ng-include="'pages/appraise-achievement-form.html'"></div>
<div ng-if="isOpen && appraisalR.appraised && lax" ng-include="'pages/appraise-achievement-appraised.html'"></div>
<div ng-if="!data.isOpen && lax">
    <p>TThe appraisal time period has already elapsed. You may contact the Chief Operating Officer for an extension.</p>
</div>
<script type="text/ng-template" id="pages/appraise-achievement-appraised.html">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Add to KRA</h3></div>
        <div class="panel-body">
            <table class="table table-bordered table-responsive">
                <tr>
                    <th width="40%">Area:</th>
                    <td>
                        <select required ng-model="modified.area" style="width:70%;float: left;" ng-options="i.name for i in areas track by i._id" class="form-control"></select>
                        <a class="btn btn-link" ng-click="addArea()">Add New Area</a>
                    </td>
                </tr>
                <tr><th>KRA Description:</th><td><textarea ng-model="modified.description" rows="5" style="resize: none" class="form-control"></textarea></td></tr>
                <tr>
                    <th>
                        Select Designation(s):<br>
                        <span>(The details of the KRA can be specified here in multiple lines. You can enter the details in 500 characters.)</span>
                    </th>
                    <td>
                        <ul class="kra-list">
                            <li ng-repeat="desig in globals.constants.designations">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="modified.chosen[desig]" ng-change="checkedChanged(desig)" ng-true-value="'true'">{{desig}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div align="center"><button type="button" class="btn btn-default" ng-disabled="!modified.area || !modified.description || modified.designations.length < 1 || savingkra" ng-click="saveKra()">{{savingkra?'Saving KRA':'Add KRA'}}</button></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="pages/appraise-achievement-form.html">
    <div class="panel panel-default kra-settings margin10top">
        <div class="panel-heading"><h3 class="panel-title">Achievements in {{appraisalR.period.name + ' ' +appraisalR.period.year}} </h3></div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body content">
                    <table class="table table-bordered">
                        <tr style="padding: 0;" class="kra-header">
                            <td width="20%"></td>
                            <td width="80%">Description</td>
                        </tr>
                    </table>

                    <div class="restrict" style="height: auto;">
                        <details ng-repeat="area in appraisalA" ng-if="appraisalQ[area].length > 0" ng-open="{{appraisalQ[area].length > 0}}">
                            <summary class="kra-area-header">Area: {{area}}</summary>
                            <table class="table table-bordered">
                                <tr ng-repeat="ach in appraisalQ[area]">
                                    <td width="20%" class="align-center-top"><a class="btn btn-link" ng-click="editArch(ach, area)">{{ach.achievement ? 'edit': 'add'}} achievement</a> </td>
                                    <td width="80%">{{ach.details.kra}}</td>
                                </tr>
                            </table>
                        </details>
                    </div>

                </div>
            </div>


        </div>
    </div>
</script>
<script type="text/ng-template" id="pages/edit-achievement.html">
    <div class="panel panel-default kra-settings margin10top">
        <div class="panel-heading">
            <h3 class="panel-title">
                Achievements in {{appraisalR.period.name + ' ' +appraisalR.period.year}} <button type="button" class="close" ng-click="back()">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </h3>
        </div>
        <div class="panel-body">
            <form name="achForm">
                <table class="table table-bordered">
                    <tr>
                        <td>Area:</td>
                        <td>{{achEdit.details.area}}</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>{{achEdit.details.kra}}</td>
                    </tr>
                    <tr><td colspan="2">Achievements</td> </tr>
                    <tr>
                        <td colspan="2"><textarea class="form-control" ng-model="achEdit.achievement" rows="7" style="resize: vertical;"></textarea> </td>
                    </tr>
                    <tr ng-if="achEdit.achievement && achEdit.achievement.length > 5">
                        <td colspan="2" class="text-center"><button type="button" class="btn btn-default" ng-disabled="achForm.$invalid || savingAch" ng-click="saveA()">{{savingAch?'Submiting Assessment':'Submit'}}</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</script>
