<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16">Weekly Report<a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Close'"></a></h2></div>
    <div class="panel-body">
        <a href="" class="btn btn-link" ng-click="">Previous Request</a>
        <form class="col-sm-12" name="form">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Supervisor: <span class="text-success" ng-if="item.supervisor">{{item.supervisor.lastName}}, {{item.supervisor.firstName}}</span></span><span class="text-danger" ng-if="!item.supervisor">None Assigned</span></h3></div>
                    <div class="panel-body">
                        <!--<textarea required class="form-control extra" rows="10" cols="20" ng-model="report"></textarea>-->
                        <div class="form-group"> <!--ng-class="{'has-error': form.UserName.$invalid && !form.UserName.$pristine}"-->
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input readonly id="title" style="width: 100%;" class="form-control" ng-model="report[0]" name="title" type="text" required />
                            </div>
                        </div>

                        <div class="form-group"> <!--ng-class="{'has-error': form.UserName.$invalid && !form.UserName.$pristine}"-->
                            <label class="control-label" for="report">Report Summary</label>
                            <div class="controls">
                                <textarea readonly id="report" required class="form-control extra" rows="20" cols="20" ng-model="report[1]"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="right">
                                <label class="control-label text-muted small" for="title">Sent on {{report[2] | date: 'fullDate'}}</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>