<div class="panel panel-default detailview">
    <div class="panel-heading"><h3 class="panel-title"><span>Add To Cart</span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
        'Close'}}</a></h3>
    </div>
    <div class="panel-body">
        <form name="cartForm" enctype="multipart/form-data">
            <table class="table table-bordered">
                <thead class="header-bg">
                <tr>
                    <th colspan="2" ng-cloak class="text-info">Current Stock Count is {{book.stockCount}}</th>
                </tr>
                </thead>
                <tbody class="details">
                <tr>
                    <td>Quantity</td>
                    <td><input name="quantity" class="form-control" ng-model="item.count" type="number" ng-required="true" min="1" max="{{book.stockCount}}"/></td>
                </tr>
                </tbody>
                <!--{{bookStock | json}}-->
                <tfoot>
                <tr>
                    <td colspan="2" class="text-center">
                        <button ng-click="add(book, item.count)" ng-disabled="cartForm.quantity.$pristine || cartForm.$invalid"
                                class="btn btn-default" ng-bind="updatingCart? 'Updating Cart': 'Update Cart'">
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
