<div class="book-view">
    <div class="book-title">
        <span ng-bind="book.title | uppercase"></span>
        <a  style="padding: 15px; color: rgba(255, 255, 255, 0.82); background:  rgb(194, 42, 42);" class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a>
    </div>
    <div class="book-cover">
        <img ng-src="images/book-cover/{{book.bookCover}}" alt="" class="">
    </div>
    <div class="book-details">
        <table class="table table-striped table-bordered">
            <tr class="item"><td class="">Category</td><td class="">{{book.category}}</td></tr>
            <tr class="item"><td class="">Title</td><td class="">{{book.title | uppercase}}</td></tr>
            <tr class="item"><td class="">Author</td><td class="">{{book.author}}</td></tr>
            <tr class="item"><td class="">ISBN/ISSN</td><td class="">{{book.isbn}}</td></tr>
            <tr class="item"><td class="">Status</td><td class="">{{book.status}}</td></tr>
            <tr class="item"><td class="">Stock Count</td><td class="">{{book.stockCount}}</td></tr>
            <tr class="item"><td class="">Price</td><td class="">&#x20a6; {{book.price | number:2}}</td></tr>
        </table>
    </div>
</div>
