<div class="panel panel-default book-list">
    <div class="panel-heading"><h1 class="">Book Inventory <span class="panel-title h3 pull-right" ng-bind="'Books ' + '('+ books.length +')'">Books</span></h1></div>
    <div class="panel-heading"><a class="btn btn-default" ng-click="createNewBook('new', {})">New Book</a></div>
    <div class="panel-body">
        <div ng-show="filteredBooks && filteredBooks.length> numPerPageOpt[0]">
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage" max-size="10"
                        class="pagination-sm pull-left" boundary-links="true"></pagination>
            <div class="form-group pull-right pagination">
                <label>Items Per Page: </label><select class="items-control" ng-model="numPerPage"
                                                       ng-options="i for i in numPerPageOpt"></select>
            </div>
        </div>
        <table ng-if="books.length > 0" class="table table-bordered table-condensed">
            <thead class="header-bg">
            <tr>
                <th>S/N</th>
                <th>Title</th>
                <th>Author</th>
                <th class="text-center">Status</th>
                <th class="text-center">Price (&#x20a6;)</th>
                <th class="text-center">Stock Count</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

                <!--<th style="width: 80px;"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books track by book._id">
                <td ng-bind="$index + 1" class="text-center"></td>
                <td ng-cloak>{{ book.title | uppercase}}</td>
                <td ng-cloak>{{ book.author }}</td>
                <td ng-cloak class="text-center">{{ book.status }}</td>
                <td ng-cloak class="text-center">{{ book.price | number: 2}}</td>
                <td ng-cloak class="text-center">{{ book.stockCount}}</td>
                <td class="text-center"><button ng-click="viewBook(book)" class="btn btn-link my-btn-info" title="View - {{book.title | uppercase}}">View</button></td>
                <td class="text-center"><button ng-click="createNewBook('edit', book)" class="btn btn-link my-btn-success" title="Edit - {{ book.title | uppercase }}">Edit</button></td>
                <td class="text-center"><button ng-click="addStock('new stock', book)" class="btn btn-link my-btn-warn" title="Add Stock for {{ book.title | uppercase }}">Add Stock</button></td>
                <td class="text-center"><button ng-click="setIsActive(book._id)" class="btn btn-link {{book.isActive ? 'my-btn-warn': 'my-btn-success'}} " title="{{book.isActive? 'Deactivate' : 'Activate'}} {{ book.title | uppercase }}">{{book.isActive ? 'Deactivate': 'Activate'}}</button></td>

                <!--<td>-->
                    <!--<span class="btn-link pull-left" style="cursor: pointer;" title="Edit Book" ng-click="editBook(book)" ng-bind="'edit'"></span>-->
                    <!--<span class="btn-link pull-right" style="cursor: pointer;" title="View Book Details" ng-click="viewBook(book)" ng-bind="'view'"></span></td>-->
            </tr>
            </tbody>
        </table>
        <div class="no-books" ng-if="books.length == 0">
            No Books To Display
        </div>
    </div>
</div>
<script id="pages/book-new.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-bind="(newBook._id ? 'Edit':'Define New') + ' Book'"></span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="newBookForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2">Book Details</th>
                    </tr>
                    </thead>
                    <tbody class="details">
                    <tr>
                        <td>Title</td>
                        <td><input class="form-control" ng-model="newBook.title" type="text" ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td><select ng-model="newBook.category"
                                    ng-options="i for i in categories" class="form-control"
                                    ng-required="true"></select></td>
                    </tr>
                    <tr>
                        <td>ISBN/ISSN</td>
                        <td><input class="form-control" ng-model="newBook.isbn" type="text" ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td><input class="form-control" ng-model="newBook.author" type="text" ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Published</td>
                        <td>
                            <input ng-disabled="disable" type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="newBook.published" is-open="startOpen" ng-required="true" close-text="Close" />
                            <span class="input-group-btn unblock">
                              <button ng-disabled="disable" type="button" class="btn btn-default" ng-click="open($event, 'startOpen')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><textarea class="form-control" ng-model="newBook.description" rows="5" cols="10" style="resize: none;"></textarea></td>
                    </tr>
                    <tr>
                        <td>Stock Count {{dontEditStockCount}}</td>
                        <td><input class="form-control" ng-model="newBook.stockCount" ng-disabled="dontEditStockCount" type="number" ng-required="true"/></select></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input class="form-control" ng-model="newBook.price" type="number" ng-required="true"/></td>
                    </tr>
                    <tr>
                        <td>Book Cover</td>
                        <td><input class="" type="file" name="bookCover" onchange="angular.element(this).scope().uploadFile(this.files)" /></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="saveBook()" ng-disabled="newBookForm.$invalid || savingNewBook"
                                    class="btn btn-default" ng-bind="savingNewBook? 'Saving Book': 'Save Book'">Save
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>
<script id="pages/book-view.html" type="text/ng-template">
    <div class="book-view">
        <div class="book-title">
                <span ng-bind="book.title | uppercase"></span>
                <a  style="padding: 15px; color: rgba(255, 255, 255, 0.82); background:  rgb(194, 42, 42);" class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a>
        </div>
        <div class="book-cover">
            <img ng-src="images/book-cover/{{book.bookCover}}" alt="" class="">
        </div>
        <div class="book-details">
            <table class="table table-striped table-bordered">
                <tr class="item"><td class="">Category</td><td class="">{{book.category}}</td></tr>
                <tr class="item"><td class="">Title</td><td class="">{{book.title | uppercase}}</td></tr>
                <tr class="item"><td class="">Author</td><td class="">{{book.author}}</td></tr>
                <tr class="item"><td class="">ISBN/ISSN</td><td class="">{{book.isbn}}</td></tr>
                <tr class="item"><td class="">Status</td><td class="">{{book.status}}</td></tr>
                <tr class="item"><td class="">Stock Count</td><td class="">{{book.stockCount}}</td></tr>
                <tr class="item"><td class="">Price</td><td class="">&#x20a6; {{book.price | number:2}}</td></tr>
            </table>
        </div>
    </div>
</script>

<script type="text/javascript">
    $('.book-list').parent('div').addClass('parent-inherited');
    console.log('done!')
</script>