<div class="panel panel-default margin10top book-list">
    <div class="panel-heading">
        <h1 class="">Book Request Summary
            <span class="pull-right small text-danger"
                  ng-bind="'('+ totalRequest +') Requests'">
            </span>
        </h1>
    </div>
    <accordion close-others="true">
        <accordion-group heading="Issued Request" is-open="false" ng-if="true">
            <div class="list-group">
                <span ng-bind="issuedBookRequests?issuedBookRequests.length:0" class="badge"></span> Issued
            </div>
            <div class="">
                <table ng-if="issuedBookRequests.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                    <tr>
                        <th>#</th>
                        <th>Book</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Quantity</th>
                        <th>Employee Name</th>
                        <th>On</th>
                        <th>Book(s) Retired</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in issuedBookRequests track by r._id">
                        <td ng-bind="$index + 1" class="text-center"></td>
                        <td ng-cloak>{{ r.bookId.title | uppercase}}</td>
                        <td ng-cloak>{{ r.status }}</td>
                        <td ng-cloak class="text-center">{{ r.quantity }}</td>
                        <td ng-cloak class="text-center">{{ r.employeeId.lastName | uppercase}}, {{ r.employeeId.firstName }}</td>
                        <td ng-cloak class="text-center">{{ r.createdOn | date: 'medium'}}</td>
                        <td ng-cloak class="text-center">{{ r.bookRetired | number }}</td>
                        <td ng-cloak class=""><button
                                ng-if="r.bookRetiredOn == null"
                                class="btn my-btn-warn"
                                ng-click="retireBookRequest(r)">Retire Book</button></td>
                    </tr>
                    </tbody>
                    <!--{{employee.firstName}}, {{employee.lastName}}-->

                </table>
                <div class="no-books" ng-if="issuedBookRequests == 0">
                    No Issued Request To Display
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="Pending Request" is-open="false" ng-if="true">
            <div class="list-group">
                <span ng-bind="pendingBookRequests?pendingBookRequests.length:0" class="badge"></span> Pending
            </div>
            <div class="">
                <table ng-if="pendingBookRequests.length > 0" class="table table-bordered table-condensed">
                    <thead class="header-bg">
                    <tr>
                        <th>#</th>
                        <th>Book</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Quantity</th>
                        <th>Employee Name</th>
                        <th>On</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in pendingBookRequests track by r._id">
                        <td ng-bind="$index + 1" class="text-center"></td>
                        <td ng-cloak>{{ r.bookId.title | uppercase}}</td>
                        <td ng-cloak>{{ r.status }}</td>
                        <td ng-cloak class="text-center">{{ r.quantity }}</td>
                        <td ng-cloak class="text-center">{{ r.employeeId.lastName | uppercase}}, {{ r.employeeId.firstName }}</td>
                        <td ng-cloak class="text-center">{{ r.createdOn | date: 'medium'}}</td>
                        <td ng-cloak class=""><button class="btn my-btn-info" ng-click="grantRequest(r)">Grant Request</button></td>
                        <td ng-cloak class=""><button class="btn bg-danger" ng-click="declineRequest(r._id)">Decline Request</button></td>
                    </tr>
                    </tbody>
                    <!--{{employee.firstName}}, {{employee.lastName}}-->

                </table>
                <div class="no-books" ng-if="pendingBookRequests.length == 0">
                    No Pending Request To Display
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>

<script id="pages/book/retire-book.html" type="text/ng-template">
    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>Book Name: {{bookRequest.bookId.title | uppercase}} </span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="bookRetiredForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2" ng-cloak class="text-danger">
                            <span class="small text-info">
                            {{bookRequest.quantity}} {{bookRequest.quantity > 1 ? 'copies were issued' : 'copy was issued'}}
                            </span><span class="text-danger pull-right">
                            {{bookRequest.bookRetired}} book{{bookRequest.bookRetired > 1 ? 's' : ''}} Retired by {{bookRequest.employeeId.lastName | uppercase }}, {{bookRequest.employeeId.firstName}}
                        </span></th>
                    </tr>
                    </thead>
                    <tbody class="details">
                    <tr>
                        <td>Quantity</td>
                        <td><input name="quantity" class="form-control" ng-model="bookRequest.bookRetired" type="number" ng-required="true" ng-maxlength="{{bookRequest.quantity}}" max="{{bookRequest.quantity}}" min="1"/></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="retireBook()" ng-disabled="bookRetiredForm.quantity.$pristine"
                                    class="btn btn-default" ng-bind="savingNewBook? 'Sending Book Retirement Request': 'Retire Book'">Retire Book
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</script>