<div class="panel panel-default detailview">
    <div class="panel-heading"><h3 class="panel-title"><span>Your Cart</span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
        'Close'}}</a></h3>
    </div>
    <div class="panel-body">
        <form name="checkoutForm" enctype="multipart/form-data">
            <table class="table table-bordered">
                <thead class="header-bg">
                <tr>
                    <th ng-cloak class="text-info text-center">#</th>
                    <th ng-cloak class="text-info text-center">Title</th>
                    <th ng-cloak class="text-info text-center">Count</th>
                    <th ng-cloak class="text-info text-center">Price (&#x20a6;)</th>
                    <th ng-cloak class="text-info text-center">Total (&#x20a6;)</th>
                </tr>
                </thead>
                <tbody class="details">
                <tr ng-repeat="item in cart track by item.id; $index">
                    <td>{{$index + 1}}</td>
                    <td>{{item.title | uppercase}}</td>
                    <td class="text-right">{{item.count }}</td>
                    <td class="text-right">{{item.price | number: 2}}</td>
                    <td class="text-right">{{(item.price * item.count) | number: 2}}</td>
                </tr>
                <hr>
                <tr>
                    <td colspan="5" style="color: #985567;font-size: 1rem;text-align:center;">Please provide at least a contact email address</td>
                </tr>
                <tr>
                    <td colspan="3">Email</td>
                    <td colspan="2" class="my-red-text"><input type="email" ng-model="t.email" class="form-control" ng-required="true"></td>
                </tr>
                <tr>
                    <td colspan="3">Phone</td>
                    <td colspan="2" class="my-red-text"><input type="tel" ng-model="t.phone" class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="3">Total Amount</td>
                    <td colspan="2" class="my-red-text">&#x20a6; {{totalCost | number: 2}}</td>
                </tr>
                </tbody>
                <!--{{bookStock | json}}-->
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <button ng-click="makePayment()" ng-disabled="checkoutForm.$invalid" class="btn btn-default">PAY</button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
