<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16">Matter List</h2></div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr class="header-bg">
                    <th></th>
                    <th>Title</th>
                    <th>Team Members</th>
                    <th>Location</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in iData.initiated|orderBy:'date':false">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="c.title"></td>
                    <td ng-bind="getTeam(c)"></td>
                    <td ng-bind="t.location"></td>
                    <td ng-bind="c.date|date|'shortDate'"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-if="matters && matters.length == 0">
                    <td colspan="5" class="text-center">No matters found.</td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center" ng-if="!counsel">
            <span><img style="width: 50px; vertical-align: -webkit-baseline-middle;" src="../images/Floating rays.gif" alt="loading data" /></span>
        </div>
    </div>
</div>

<script type="text/ng-template" id="pages/matter-new-form.html">
    <form class="col-sm-12" name="newMatterForm">
        <div class="panel panel-default empData">
            <div class="panel-heading"><h2 class="panel-title font16">New Matter/Team</h2></div>
            <div class="panel-body">
                <div class="col-md-3" ng-repeat="(key, emps) in counsels.unallocated">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title" ng-bind="key"></h3></div>
                        <div class="panel-body" style="padding-bottom:0; padding-top:0;">
                            <ul class="kra-list" style="height: 150px;">
                                <li ng-repeat="i in emps|orderBy:'name' track by i.id" ng-class="{'selectedSub':state.inc.indexOf(i.id) > -1}">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="state.inc.indexOf(i.id) > -1" ng-click="toggleSelection(i.id, key, $event)">
                                            <span ng-bind="i.name"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <!--<ul class="kra-list" style="height: 150px;">
                                <li ng-repeat="i in emps|orderBy:'name' track by i.id" ng-class="{'selectedSub':query.copied.indexOf(i._id) > -1}" ng-if="i._id != query.employee._id">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="query.copied.indexOf(i._id) > -1 && i._id != selectEmp._id" ng-click="toggleSelection(i._id)">
                                            <span ng-bind="i.name"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <div align="center">
                        <input value="Save Details" ng-disabled="form.$invalid || state" class="btn btn-default" type="button" ng-click="saveData()">
                    </div>
                </div>-->
            </div>
        </div>
    </form>
</script>