<form class="col-sm-12" name="newMatterForm">
    <div class="panel panel-default empData">
        <div class="panel-heading"><h2 class="panel-title font16">
            <span ng-bind="'Add Matter'"> </span><a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'"></a></h2></div>
        <div class="panel-body">
            <div ng-include="'pages/message-alert-modal.html'"></div>
            <table class="table table-bordered table-responsive">
                <tr><td><span>Title:</span></td><td><input class="form-control" ng-model="matter.title" type="text"/></td></tr>
                <tr><td><span>Client:</span></td><td><input class="form-control" ng-model="matter.client" type="text"/></td></tr>
                <tr><td><span>Practice Area:</span></td><td><select required ng-model="matter.practiceArea" ng-options="i for i in constants.practiceAreas track by i" class="form-control"></select></td></tr>
                <tr><td><span>Matter Lead:</span></td><td><select required ng-model="matter.lead" ng-disabled="matter._id && !employee.rights.isAdmin" ng-options="i.name for i in employees|orderBy:'name' track by i._id" class="form-control"></select></td></tr>
                <tr><td><span>Assigned Counsels:</span></td><td>
                    <ul class="kra-list" style="height: 250px;" ng-init="matter.members = matter.members||[]">
                        <li ng-repeat="i in employees|orderBy:'name' track by i._id" ng-class="{'selectedSub': matter.members.indexOf(i._id) > -1}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="matter.members.indexOf(i._id) > -1 && i._id != matter.lead._id" ng-click="toggleSelection(i)" ng-disabled="i._id == matter.lead._id"><span ng-bind="i.name"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </td></tr>
                <tr><td><span>Date Opened:</span></td><td>
                    <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="matter.dateOpened"  is-open="exstart" ng-required="true" close-text="Close" />
                    <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'exstart')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </td></tr>
                <tr><td><span>Next Hearing Date:</span></td><td>
                    <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="matter.nextHearing" is-open="exend" ng-required="!lastHearingDate" close-text="Close"/>
                    <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'exend')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </td></tr>
            </table>
            <div class="form-group">
                <div align="center">
                    <input value="{{savingMatter? 'Saving Details':'Save Details'}}" ng-disabled="newMatterForm.$invalid || savingMatter" class="btn btn-default" type="button" ng-click="saveData()">
                </div>
            </div>
        </div>
    </div>
</form>