<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16">
        <span ng-bind="'Matter Details'"> </span><a class="btn btn-link pull-right" href="" ng-click="back()"
                                                    ng-bind="backText? backText: 'Back'"></a></h2></div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive">
            <tr ng-if="matter._id">
                <td><span>Serial No.:</span></td>
                <td ng-bind="matter.brNo"></td>
            </tr>
            <tr>
                <td><span>Title:</span></td>
                <td ng-bind="matter.title"></td>
            </tr>
            <tr>
                <td><span>Client:</span></td>
                <td ng-bind="matter.client"></td>
            </tr>
            <tr>
                <td><span>Practice Area:</span></td>
                <td ng-bind="matter.practiceArea"></td>
            </tr>
            <tr>
                <td><span>Matter Lead:</span></td>
                <td ng-bind="matter.lead.extras.name"></td>
            </tr>
            <tr>
                <td><span>Assigned Counsels:</span></td>
                <td>
                    <span ng-repeat="n in matter.members track by $index"
                          ng-bind-html="n.extras.name + ($last ? '.':', <br>')"></span>
                </td>
            </tr>
            <tr>
                <td><span>Date Opened:</span></td>
                <td ng-bind="matter.dateOpened| date: 'dd MMM yyyy'"></td>
            </tr>
            <tr>
                <td><span>Next Hearing Date:</span></td>
                <td ng-bind="matter.nextHearing| date: 'dd MMM yyyy'"></td>
            </tr>
            <tr ng-if="matter.verdict">
                <td><span>Verdict:</span></td>
                <td ng-bind="matter.verdict"></td>
            </tr>
            <tr ng-if="matter.status">
                <td><span>Status:</span></td>
                <td ng-bind="matter.status"></td>
            </tr>
            <tr>
                <td><span>Date Created:</span></td>
                <td ng-bind="matter.date| date: 'dd MMM yyyy'"></td>
            </tr>
            <tr ng-if="by">
                <td><span>Date Created:</span></td>
                <td ng-bind="matter.date| date: 'dd MMM yyyy'"></td>
            </tr>
        </table>
    </div>
</div>