<div data-ng-include="'pages/message-alert.html'"></div>
<div class="scgn-cart">
    <!--<span class="start">CART</span>-->
    <!--<span class="pull-right">Items</span>-->
    <span class="">Cart Items: </span>
    <span class="my-red-text" style="font-size: 2rem;">{{cart.count}}</span>
    <button class="btn btn-sm my-btn-success pull-right" ng-click="doCheckout(cart)">Checkout</button>
</div>
<div class="scgn-bookstore">
    <div class="scgn-book" ng-repeat="book in books track by book._id">
        <div class="bookCover" ><img
                ng-src="./images/book-cover/{{book.bookCover}}" alt="" style="width: 300px;"></div>
        <div class="text">
            <p>{{book.title | uppercase}}</p>
            <p>{{book.author | uppercase }}</p>
            <p>&#x20a6; {{book.price | number:2}}</p>
            <p style="width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;">{{book.description}}</p>
            <p>
                <button ng-click="viewBook(book)" class="btn btn-info btn-sm">View</button>
                <button ng-click="addToCart(book)" class="btn btn-danger btn-sm">Order</button>
            </p>
        </div>
    </div>
</div>