<div class="panel panel-default  book-list">
    <div class="panel-heading"><h1 class="text-info">Book Request <span class="panel-title h3 pull-right" ng-bind="'Books ' + '('+ books.length +')'">Books</span></h1></div>
    <div class="panel-body">
        <div ng-show="filteredBooks && filteredBooks.length> numPerPageOpt[0]">
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage" max-size="10"
                        class="pagination-sm pull-left" boundary-links="true"></pagination>
            <div class="form-group pull-right pagination">
                <label>Items Per Page: </label><select class="items-control" ng-model="numPerPage"
                                                       ng-options="i for i in numPerPageOpt"></select>
            </div>
        </div>
        <table ng-if="books.length > 0" class="table table-bordered table-condensed">
            <thead class="header-bg">
            <tr>
                <th>S/N</th>
                <th>Title</th>
                <th>Author</th>
                <th class="text-center">Status</th>
                <th class="text-center">Price (&#x20a6;)</th>
                <th class="text-center">Stock Count</th>
                <th></th>
                <!--<th style="width: 80px;"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books track by book._id">
                <td ng-bind="$index + 1" class="text-center"></td>
                <td ng-cloak>{{ book.title | uppercase}}</td>
                <td ng-cloak>{{ book.author }}</td>
                <td ng-cloak class="text-center">{{ book.status }}</td>
                <td ng-cloak class="text-center">{{ book.price | number: 2}}</td>
                <td ng-cloak class="text-center">{{ book.stockCount}}</td>
                <td class="text-center"><button ng-click="requestBook('Make Request', book)" class="btn btn-link my-btn-info" title="View - {{book.title | uppercase}}">Make Request</button></td>
            </tr>
            </tbody>

        </table>
        <div class="no-books" ng-if="books.length == 0">
            No Book Request To Display
        </div>
    </div>
</div>

<script id="pages/book/book-request.html" type="text/ng-template">
<div class="panel panel-default detailview">
    <div class="panel-heading"><h3 class="panel-title"><span ng-cloak>Book Name: {{book.title | uppercase}} </span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
        'Close'}}</a></h3>
    </div>
    <div class="panel-body">
        <form name="bookRequestForm" enctype="multipart/form-data">
            <table class="table table-bordered">
                <thead class="header-bg">
                <tr>
                    <th colspan="2" ng-cloak class="text-danger"><span class="small text-infor">{{book.stockCount}} copies available</span><span class="my-red-text pull-right">{{employeeName}} requesting {{ request.quantity}} copies</span></th>
                </tr>
                </thead>
                <tbody class="details">
                <tr>
                    <td>Quantity</td>
                    <td><input name="quantity" class="form-control" ng-model="request.quantity" type="number" ng-required="true" ng-maxlength="{{book.stockCount}}" max="{{book.stockCount}}" min="1"/></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" class="text-center">
                        <button ng-click="requestBook()" ng-disabled="bookRequestForm.quantity.$pristine"
                                class="btn btn-default" ng-bind="savingNewBook? 'Sending Book Request': 'Request Book'">Make Request
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
</script>