    <div class="panel panel-default detailview">
        <div class="panel-heading"><h3 class="panel-title"><span ng-bind="(newBook._id ? 'Edit':'Add') + ' Book Stock - (' + (book.title) + ') '"></span><a class="btn btn-link pull-right my-red-text" href="" ng-click="back()">{{backText? backText:
            'Close'}}</a></h3>
        </div>
        <div class="panel-body">
            <form name="newBookForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <thead class="header-bg">
                    <tr>
                        <th colspan="2" ng-cloak class="text-info">Current Stock Count is {{book.stockCount}}</th>
                    </tr>
                    </thead>
                    <tbody class="details">
                    <tr>
                        <td>Quantity</td>
                        <td><input name="quantity" class="form-control" ng-model="bookStock.quantity" type="number" ng-required="true" ng-minlength="1" min="1"/></td>
                    </tr>
                    </tbody>
                    <!--{{bookStock | json}}-->
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <button ng-click="updateStock()" ng-disabled="newBookForm.quantity.$pristine"
                                    class="btn btn-default" ng-bind="savingNewBook? 'Updating Book Stock': 'Update Book Stock'">Update Stock
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
