<div class="panel panel-default margin10top" ng-controller="teamCtrl">
    <div class="panel-heading"><h3 class="panel-title">Out of Office Requests(Team)</h3></div>
    <div class="panel-body">
        <div ng-show="pagedOutoffice && pagedOutoffice.length> 0">
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage" max-size="10"
                        class="pagination-sm" boundary-links="true"></pagination>
            <div class="form-group pull-right pagination">
                <label>Items Per Page: </label><select class="items-control" ng-model="numPerPage"
                                                       ng-options="i for i in numPerPageOpt"></select>
            </div>
        </div>
        <!--<div class="panel panel-default margin10top" ng-controller="teamCtrl">-->
            <!--<div class="panel-heading"><h3 class="panel-title">Cash Request</h3></div>-->
            <!--<div class="panel-body">-->
                <!--<table class="table table-bordered table-responsive cashlist">-->
                    <!--<thead>-->
                    <!--<tr ng-init="itemHeaders = [-->
                        <!--{prop: 'name', label: 'Name'},-->
                        <!--{prop: 'department', label: 'Department'},-->
                        <!--{prop: 'designation', label: 'Designation'},-->
                        <!--{prop: 'dateCreated', label: 'Date of Request'},-->
                        <!--{prop: 'date', label: 'Out of Office Date'},-->
                        <!--{prop: 'resumptionDate', label: 'Resumption Date/Time'},-->
                        <!--{prop: 'status', label: 'Status'},-->
                        <!--]">-->
                        <!--<th width="30px" class="text-center">S/N</th>-->
                        <!--<th ng-repeat="col in itemHeaders"><a href="" ng-click="order(col.prop)" ng-class="{'dropup': sortOrder && col.prop == row}"><span ng-bind="col.label"></span><span ng-if="col.prop == row" class="caret"></span></a></th>-->
                        <!--<th ng-repeat="col in itemHeaders" ng-bind="col.label"></th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="winner in pagedOutoffice">-->
                        <!--<td ng-bind="(currentPage - 1) * numPerPage + $index + 1"></td>-->
                        <!--<td ng-bind="winner.name"></td>-->
                        <!--<td ng-bind="winner.department"></td>-->
                        <!--<td ng-bind="winner.designation"></td>-->
                        <!--<td ng-bind="winner.dateCreated|date: 'yyyy MMM dd'"></td>-->
                        <!--<td ng-bind="winner.date| date: 'yyyy MMM dd'"></td>-->
                        <!--<td ng-bind="winner.resumptionTime? (winner.resumptionTime|date: 'shortTime'): (winner.resumptionDate| date: 'yyyy MMM dd')"></td>-->
                        <!--<td ng-bind="winner.status"></td>-->
                    <!--</tr>-->
                    <!--<tr ng-if="pagedOutoffice && !pagedOutoffice.length">-->
                        <!--<td colspan="8" class="text-center">No Records to display</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
        <table class="table table-bordered table-stripped table-responsive cashlist">
            <thead>
            <tr ng-init="itemHeaders = [
                {prop: 'name', label: 'Name'},
                {prop: 'department', label: 'Department'},
                {prop: 'designation', label: 'Designation'},
                {prop: 'dateCreated', label: 'Date of Request'},
                {prop: 'status', label: 'Status'},
                ]">
                <th width="30px" class="text-center">S/N</th>
                <!--<th ng-repeat="col in itemHeaders"><a href="" ng-click="order(col.prop)" ng-class="{'dropup': sortOrder && col.prop == row}"><span ng-bind="col.label"></span><span ng-if="col.prop == row" class="caret"></span></a></th>-->
                <th ng-repeat="col in itemHeaders" ng-bind="col.label"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="winner in pagedOutoffice">
                <td><a href="" ng-click="access(winner)" class="btn btn-link" ng-bind="(currentPage - 1) * numPerPage + $index + 1"></a></td>
                <td ng-bind="winner.name"></td>
                <td ng-bind="winner.department"></td>
                <td ng-bind="winner.designation"></td>
                <td ng-bind="winner.dateCreated|date: 'yyyy MMM dd'"></td>
                <!--<td ng-bind="winner.date| date: 'yyyy MMM dd'"></td>-->
                <!--<td ng-bind="winner.resumptionTime? (winner.resumptionTime|date: 'shortTime'): (winner.resumptionDate| date: 'yyyy MMM dd')"></td>-->
                <td ng-bind="winner.status"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td ng-if="pagedOutoffice && !pagedOutoffice.length" colspan="10" class="text-center">No
                    Subordinate Out of Office Request Available
                </td>
            </tr>
            </tfoot>
        </table>
        <div ng-show="pagedOutoffice && pagedOutoffice.length> 0">
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage" max-size="10"
                        class="pagination-sm" boundary-links="true"></pagination>
            <div class="form-group pull-right pagination">
                <label>Items Per Page: </label><select class="items-control" ng-model="numPerPage"
                                                       ng-options="i for i in numPerPageOpt"></select>
            </div>
        </div>
    </div>
</div>