<style class="ng-scope">
    thead{
        background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
        background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
        background-repeat: repeat-x;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
</style>
<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title">Out of Office Request<a class="btn btn-link pull-right" type="button" ng-click="back()">Close</a></h3></div>
    <div class="panel-body">
        <div class="panel panel-default noPadding noBorder">
            <div class="panel-heading"><h2 class="panel-title">Leave Balance Summary</h2></div>
            <div class="panel-body Padding3Side">
                <h3>Your <span class="text-red" ng-bind="newLeave.type"></span> leave balance as at <span ng-bind="now|date:'EEEE, MMMM dd, yyyy'"></span> is <span class="text-red" ng-bind="emp.leaveStatus[newLeave.type.toLowerCase()].entitlement - emp.leaveStatus[newLeave.type.toLowerCase()].taken"></span></h3>
                <div class="col-xs-12 empData">
                    <form name="form">
                        <div data-ng-include="'pages/message-alert-modal.html'"></div>
                        <table class="table table-bordered table-responsive">
                            <thead class="header-bg"><tr><th colspan="2">Leave Information</th></tr></thead>
                            <tr><td><span>Name:</span><span class="is-required"> *</span></td><td><select required ng-model="newLeave.type" ng-options="((i != 'Parenting' || emp.gender == ''? i : parArray[emp.gender])+' Leave') for i in ['Annual', 'Casual', 'Sick', 'Parenting'] track by i" class="form-control"></select> </td></tr>
                            <tr><td><span>Start Date:</span><span class="is-required"> *</span></td><td>
                                <input type="text" class="form-control unblock" datepicker-popup="EEE,dd MMM yyyy" ng-model="newLeave.start" is-open="leaveStart" ng-required="true" close-text="Close" />
                            <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'leaveStart')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </td></tr>
                            <tr><td><span>Number of Days:</span><span class="is-required"> *</span></td><td><input min="1" max="{{emp.leaveStatus[newLeave.type.toLowerCase()].entitlement - emp.leaveStatus[newLeave.type.toLowerCase()].taken}}" class="form-control" ng-model="newLeave.days" type="number" required ng-required="true"/></td></tr>
                            <tr><td><span>Resumption Date:</span><span class="is-required"> *</span></td><td ng-bind="newLeave.resume"></td></tr>
                            <tr><td><span>Contact while on Leave:</span><span class="is-required"> *</span></td><td><input class="form-control" ng-model="newLeave.contact" type="text" required ng-required="true"/></td></tr>
                            <tr><td><span>Approving Office:</span><span class="is-required"> *</span></td><td ng-bind="globals.supervisor.name"></td></tr>
                            <tr><td><span>H.R Comment:</span><span class="is-required"> *</span></td><td ng-bind="globals.supervisor.name"></td></tr>

                            <!--<tr><td><span>Pre-Approving Officer:</span></td><td><select required ng-model="" name="level" ng-options="i.name for i in superiors track by i.employeeId" class="form-control"></select></td></tr>-->
                        </table>
                        <div class="form-group">
                            <div align="center">
                                <input ng-disabled="!emp || form.$invalid || submitting" value="{{btnText}}" class="btn btn-default" type="button" ng-click="makeLeaveRequest()" >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>