h3 Payment Reciept for #{type}
p Thanks for prompt payment. Your Payment details are as follows:
table(border='1', cellpadding='5', cellspacing='0')
    tr
        td Description:
        td #{description}
    tr
        td Payment Type:
        td #{type}
    tr
        td Amount:
        td &#x20a6; #{amount}
    tr
        td Time:
        td #{time}
    tr
        td Customer Email:
        td #{email}
    tr
        td Transaction Status:
        td #{status}
    tr
        td Payment By:
        td #{customer}
p
    | Thanks,
    br

em= projectName
