<div class="view-donations non-printable">
    <div class="donation-title">
        Transaction List
    </div>
    <div class="donation-list">
        <table class="table table-striped table-hovered table-bordered"
               style="background-color: #eaf1e2;">
            <tr class="text-center" style="color: #444b8f;font-size: 1.2rem; font-family: serif;background-color: #c3c7bf;">
                <th style="text-align:center;color:red;">#</th>
                <th width="" style="text-align: center;">Tranx Id</th>
                <th width="" style="text-align: center;">Type</th>
                <th width="" style="text-align: center;">Description</th>
                <th width="" style="text-align: right;">Amount (&#x20a6;)</th>
                <th width="" style="text-align: center;">Created On</th>
                <th width="" style="">Invoice Sent</th>
                <th></th>
            </tr>
            <tbody style="color: #000;">
            <!--<tr ng-repeat="t in transactions track by $index" class="text-center">-->
            <tr dir-paginate="t in transactions | itemsPerPage: 20" class="text-center">
                <td style="color:red;" class="text-center">{{$index + 1}}</td>
                <td style="padding: 5px;">{{t.tranxId}}</td>
                <td style="padding: 5px;">{{t.type | uppercase}}</td>
                <td style="padding: 5px;text-align:left;">{{t.description}}</td>
                <td style="padding: 5px;" class="text-right">{{t.amount | number: 2}}</td>
                <td style="padding: 5px;">{{t.createdOn | date: 'fullDate'}}</td>
                <td style="">{{t.invoiceSent}}</td>
                <td style="" ng-click="viewReceipt(t)"><button class="btn btn-small btn-info">View</button></td>
            </tr>
            <tr>
                <td colspan="7">
                    <dir-pagination-controls></dir-pagination-controls>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="no-books" ng-if="transactions.length == 0">
            No Transaction To Display
        </div>
    </div>
</div>
<script id="pages/transaction-receipt-view.html" type="text/ng-template">
    <div class="book-view">
        <div class="book-title">
            <span ng-bind="book.title | uppercase">SCGN Receipt</span>
            <a  style="padding: 15px; color: rgba(255, 255, 255, 0.82); background:  rgb(194, 42, 42);" class="btn btn-link pull-right non-printable" href="" ng-click="back()">{{backText? backText:
                'Close'}}</a>
        </div>
        <div class="book-details print-content">
            <table class="table table-striped table-bordered">
                <tr class="item"><td class="">Transaction Id</td><td class="">{{tranxItem.tranxId}}</td></tr>
                <tr class="item"><td class="">Type</td><td class="">{{tranxItem.type | uppercase}}</td></tr>
                <tr class="item"><td class="">Description</td><td class="">{{tranxItem.description}}</td></tr>
                <tr class="item"><td class="">Amount</td><td class="">&#x20a6; {{tranxItem.amount | number:2}}</td></tr>
                <tr class="item"><td class="">Created On</td><td class="">{{tranxItem.createdOn}}</td></tr>
                <tr class="item non-printable">
                    <td colspan="2"><button class="btn btn-lg btn default" ng-click="printReceipt()">Print</button></td></tr>
            </table>
        </div>
    </div>
</script>

<script type="text/javascript">
    $('.view-donations').parent('div').addClass('parent-inherited');
    //    console.log('done!')
</script>