<div class="panel panel-default margin10top">
    <div class="panel-heading" style="padding-bottom:  20px;">
        <h3 class="panel-title" style="display: inline-block;" ng-bind="(title || 'Appraisal') + ' History'"></h3>
        <form class="form-inline pull-right">
            <div class="form-group">
                <label for="period">Select Period:</label>
                <select id="period" ng-required="true" ng-model="period" ng-options="(i.name + ' '+ i.year) for i in PERIODS" class="form-control"></select>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <div ng-if="loadingItem" class="text-center">
            <span><img style="width: 50px; vertical-align: -webkit-baseline-middle;" src="../images/Floating rays.gif" alt="loading data" /></span>
        </div>

        <div ng-if="!loadingItem && data" ng-include="'pages/appraisal-'+entity+'.html'"></div>
    </div>
</div>