﻿<html ng-app="system.user">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title ng-bind="'scgn - Login'"></title>

    <!--<title>Trusoft Limited - HR</title>-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="javascripts/busy/loading-bar.css">
    <link rel="stylesheet" href="../stylesheets/normalize.css">

    <link rel="icon" href="../favicon.png">
    <link rel="apple-touch-icon" href="../images/icon.png">
    <link rel="apple-touch-icon-precomposed" href="../images/icon.png">
    <!--[if lt IE 9]>
    <script src="../javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="js/ie-emulation-modes-warning.js"></script>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">

<div class="container scgn-homepage" ng-controller="newHomePageCtrl">
    <div class="scgn-header">
        <div class="scgn-logo">
            <a style="outline: none;text-align: center;" title="SCGN HOME" ng-href="/">
                <img ng-src="images/logo.png" alt="SCGN">
            </a>
        </div>
        <div class="scgn-title">
            <div>Society For Corporate Governance Nigeria</div>
            <span class="small">...Committed to the development of Corporate Governance</span>
            <a class="btn btn-link" href="http://corpgovnigeria.org/">Go To Our Website</a>
        </div>
        <div class="scgn-card">
            <div class="text">
                <button class="btn btn-danger btn-sm" ng-click="displayLoginForm()">Login</button>
            </div>
        </div>

    </div>
    <div class="container scgn-body">
        <ng-view></ng-view>
    </div>
    <div class="scgn-footer"><p>Copyright 2017. All Rights Reserved. <span ng-cloak class="scgn-footer-companyName">{{companyName}}</span>
    </p></div>
</div>

<script id="pages/scgn-login.html" type="text/ng-template">
    <div id="login" class="scgn-login ">
        <div class="title">
            <span>Login</span>
            <a style="color:#e13a40;" class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
                'Close'}}</a>
        </div>
        <div ng-include="'pages/message-alert.html'"></div>
        <div>
            <form method="post" name="form" class="">
                <div class="form-group">
                    <label for="username">User ID</label><span class="is-required">*</span>
                    <input class="form-control" type="text" id="username" ng-model="user.username">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label><span class="is-required">*</span>
                    <input class="form-control" type="password" id="password" ng-model="user.password">
                    <span class="help-block"></span>
                </div>
                <!--<span class="forget">Forgot password? Contact PD.</span>-->
                <br/>
                <div class="form-actions">
                    <button class="btn btn-info btn-login pull-right" style="margin-right: 15px;"
                            ng-click="login()"
                            ng-disabled="form.$invalid || signingIn || !(user && user.password && user.username)"
                            ng-bind="signingIn? 'Logging In': 'Log In'">

                    </button>&nbsp;
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('.scgn-login').parent('div.modal-content').addClass('scgn-login-modal-content');
</script>
<script id="pages/scgn-donation.html" type="text/ng-template">
    <div id="donation" class="scgn-donation ">
        <div class="title">
            <span>Make A Donation</span>
            <a style="color:#e13a40;" class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
                'Close'}}</a>
        </div>
        <div ng-include="'pages/message-alert.html'"></div>
        <div>
            <form method="post" name="form" class="">
                <div class="form-group">
                    <label for="username">Employee ID</label><span class="is-required">*</span>
                    <input class="form-control" type="text" id="username" ng-model="user.username">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label><span class="is-required">*</span>
                    <input class="form-control" type="password" id="password" ng-model="user.password">
                    <span class="help-block"></span>
                </div>
                <!--<span class="forget">Forgot password? Contact PD.</span>-->
                <br/>
                <div class="form-actions">
                    <button class="btn btn-info btn-login pull-right" style="margin-right: 15px;"
                            ng-click="submitDonation()"
                            ng-disabled="form.$invalid || signingIn || !(user && user.password && user.username)"
                            ng-bind="signingIn? 'Logging In': 'Donate'">

                    </button>&nbsp;
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $('.scgn-login').parent('div.modal-content').addClass('scgn-login-modal-content');
</script>
<script id="pages/scgn-membership.html" type="text/ng-template">
    <div id="membership" class="scgn-membership ">
        <div class="title">
            <span>Membership Registration</span>
            <a style="color:#e13a40;" class="btn btn-link pull-right" href="" ng-click="back()">{{backText? backText:
                'Close'}}</a>
        </div>
        <div ng-include="'pages/message-alert.html'"></div>
        <div>
            <form method="post" name="form" class="">
                <div class="form-group">
                    <label for="username">Employee ID</label><span class="is-required">*</span>
                    <input class="form-control" type="text" id="username" ng-model="user.username">
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label><span class="is-required">*</span>
                    <input class="form-control" type="password" id="password" ng-model="user.password">
                    <span class="help-block"></span>
                </div>
                <!--<span class="forget">Forgot password? Contact PD.</span>-->
                <br/>
                <div class="form-actions">
                    <button class="btn btn-info btn-login pull-right" style="margin-right: 15px;"
                            ng-click="submitMembership()"
                            ng-disabled="form.$invalid || signingIn || !(user && user.password && user.username)"
                            ng-bind="signingIn? 'Logging In': 'Register'">

                    </button>&nbsp;
                </div>
            </form>
        </div>
    </div>
</script>


<script src="lib/angular.js"></script>
<script src="lib/angular-animate.min.js"></script>
<!--<script src="lib/angular-cookies.min.js"></script>-->
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/ui-bootstrap-tpls.min.js"></script>
<script src="javascripts/busy/loading-bar.js"></script>
<script src="javascripts/system.js"></script>

</body>
</html>