<html ng-app="system.user">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title ng-bind="'scgn - Login'"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="javascripts/busy/loading-bar.css">
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="icon" href="../favicon.png">
    <link rel="apple-touch-icon" href="../images/icon.png">
    <link rel="apple-touch-icon-precomposed" href="../images/icon.png">
    <script src="../javascripts/ie8-responsive-file-warning.js"></script>
    <script src="../lib/html5shiv.min.js"></script>
    <script src="../lib/respond.min.js"></script>
</head>
<body class="scgn-mbr">
<div class="container scgn-homepage" ng-controller="newHomePageCtrl">
    <div class="scgn-header">
        <div class="scgn-logo">
            <a style="outline: none;text-align: center;" title="SCGN HOME" ng-href="/">
                <img style="width:50%;" ng-src="images/logo.png" alt="SCGN">
            </a>
        </div>
        <div class="scgn-title">
            <div>Society For Corporate Governance Nigeria</div>
            <span class="small">...Committed to the development of Corporate Governance</span>
            <a class="btn btn-link" href="http://corpgovnigeria.org/">Go To Our Website</a>
        </div>
        <div class="scgn-card">
            <div class="text">
                <button class="btn btn-danger btn-sm text-center" ng-click="doLogout()" style="width: 70px;">Logout</button>
            </div>
        </div>
    </div>
    </div>
    <div class="container scgn-body">
        <ng-view></ng-view>
    </div>
    <div class="scgn-footer"><p>Copyright 2017. All Rights Reserved. <span ng-cloak class="scgn-footer-companyName">Society For Corporate Governance Nigeria</span>
    </p></div>
</div>
<script src="lib/angular.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/ui-bootstrap-tpls.min.js"></script>
<script src="javascripts/busy/loading-bar.js"></script>
<script src="javascripts/system.js"></script>
</body>
</html>
